.login-form {
    margin-left: -100px;
    position: absolute; 
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    
    padding: 10px 10px 10px 10px;
    
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    border:1px solid #f0f0f0;
}

body {
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
}
