<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<title>OSTIS - Login</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap-multilevel.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}accounts/css/common.css" />
    
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}plugins/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}plugins/jquery/jquery.namespace.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="login-form">
        <form method="POST" action="{% url accounts:login %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next_url" value="{{ request.GET.next|default:'/' }}">
            <input type="submit" value="Login">
        </form>
    </div>
</body>

