.SCgSvg {
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.SCgContainer {
	fill: #fff;
}

.SCgText {
	fill: #00a;
	font-family: "Arial";
	font-style: italic;
	font-weight: bold;
	font-size: 14;
	pointer-events: none;
	stroke: none;
}

.SCgNodeEmpty {
}

.SCgNode {
	fill: #eee;
	stroke: #000;
	stroke-width: 5px;
}

/* --- Edges --- */
.SCgEdgeSelectBounds {
	stroke: none;
	stroke-width: 10px;
	fill: none;
}

.SCgEdge {
	fill: none;
	stroke-linejoin: round;
}

.SCgEdgeUnknown {
	stroke: #a00;
	stroke-width: 3px;
	fill: none;
}

.SCgEdgeCommonBack {
	stroke-width: 8px;
	fill: none;
}

.SCgEdgeCommonForeground {
	stroke-width: 5px;
	stroke: #fff;
	fill: none;
}

.SCgEdgeCommonForegroundVar {
	stroke-width: 5px;
	fill: none;
}

.SCgEdgeAccessComonDash {
	stroke-width: 4px;
	stroke-dasharray: 4, 4;
	fill: none;
}

.SCgEdgeAccessPerm {
	stroke-width: 2px;
	fill: none;
}

.SCgEdgeAccessTemp {
	stroke-width: 2px;
	stroke-dasharray: 2, 2;
	fill: none;
}

.SCgEdgeAccessTempVar {
	stroke-width: 2px;
	stroke-dasharray: 2, 2, 2, 2, 2, 2, 2, 14;
	fill: none;
}

.SCgEdgeEndArrowAccess {
	marker-end: url(#end-arrow-access);
	fill: none;
}

.SCgEdgeEndArrowCommon {
	marker-end: url(#end-arrow-common);
	fill: none;
}

.SCgEdgeVarDashAccessPerm {
	stroke-dasharray: 14, 14;
}

.SCgEdgeVarDashCommon {
	stroke-dasharray: 14, 14;
}

.SCgEdgePermNegDash {
	stroke-dasharray: 0, 20, 2, 6;
	stroke-width: 10px;
}

/* --------- */

.SCgEdgePermDash {
	stroke-dasharray: 4, 10;
}



/* --- contours --- */
.SCgContour {
	fill: #ddddff;
	stroke: black;
	stroke-width: 2px;
	stroke-linejoin: round;
	opacity: 0.9;
}

.SCgDragLinePoint {
	stroke: #FBF4F2;
	stroke-width: 3px;
	fill: #D60011;
}

.SCgDragLinePointHighlighted {
	fill: #FF3300;
	stroke: #FFBE52;
}

.SCgLinePoint {
	stroke: #FBF4F2;
	stroke-width: 4px;
	fill: #D60011;
}

.SCgLinePointHighlighted {
	fill: #FF3300;
	stroke: #FFBE52;
	cursor: move;
}

path.dragline {
	stroke: #535A69;
	stroke-dasharray: 2,2;
	stroke-width: 2px;
	fill: 	none;
}

path.SCgEdge.hidden {
	stroke-width: 0;
}


/* ----- States ----- */
.SCgStateNormal {
	stroke: #000;
	cursor: pointer;
}

.SCgStateHighlighted {
	stroke: #5EB700;
	cursor: pointer;
}

.SCgStateSelected {
	stroke: #C73E00;
}

.SCgStateSelected.SCgStateHighlighted {
	stroke: #FD8E00;
}




/* ------------- User interface -------------- */
.scg-tools-panel {
	position: absolute;	
}

.scg-type-list {
	max-height: 400px;
	overflow-y: scroll;
}
