.SCgSvg {
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.SCgContainer {
	fill: #fff;
}

.SCgText {
	fill: #009;
	font-family: "Arial";
	font-style: italic;
	font-size": 12;
	pointer-events: none;
}

.SCgNode {
	fill: #eee;
	stroke: #000;
	stroke-width: 5;
	cursor: pointer;
}

.SCgEdge {
	stroke: #000;
	stroke-width: 2.5px;
	cursor: pointer;
}

.SCgContour {
	fill: #ddddff;
	stroke: black;
	stroke-width: 2px;
	stroke-linejoin: round;
	opacity: 0.9;
}

path.SCgEdge.dragline {
	pointer-events: none;
	stroke-dasharray: 2,2;
	stroke-width: 2px;
}

path.SCgEdge.hidden {
	stroke-width: 0;
}

.SCgHighlighted {
	stroke: #5EB700;
}
