# -*- coding: utf-8 -*-

DEBUG = True
API_DEBUG = DEBUG
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'sc_web',
        'USER': 'root',
        'PASSWORD': 'root',
        'HOST': '',
        'PORT': '',
    }
}

SITE_URL = 'http://localhost:8000'

# GOOGLE_ANALYTICS_ID = ''

# REPO_PATH = ''
# REPO_BUILD_COMMAND = ''

# REPO_EDIT_TIMEOUT = 60 # source edit lock timeout

if TESTS_RUNNING:
    SOUTH_TESTS_MIGRATE = False
    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.sqlite3',
        }
    }
