# -*- coding: utf-8 -*-

DEBUG = True
API_DEBUG = DEBUG
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'data.db',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

SITE_URL = 'http://localhost:8000'

# GOOGLE_ANALYTICS_ID = ''
