<div class="demo-scg-type-list">
  <button
    id="scg-type-edge-common"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-edge-common.png" />
  </button>
  <button
    id="scg-type-arc-common"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-common.png" />
  </button>
  <button
    id="scg-type-edge-const"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-edge-const.png" />
  </button>
  <button
    id="scg-type-arc-const"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-const.png" />
  </button>
  <button
    id="scg-type-arc-const-perm-pos-access"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-const-perm-pos-access.png" />
  </button>
  <button
    id="scg-type-arc-const-perm-neg-access"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-const-perm-neg-access.png" />
  </button>
  <button
    id="scg-type-arc-const-perm-fuz-access"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-const-perm-fuz-access.png" />
  </button>
  <button
    id="scg-type-arc-const-temp-pos-access"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-const-temp-pos-access.png" />
  </button>
  <button
    id="scg-type-arc-const-temp-neg-access"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-const-temp-neg-access.png" />
  </button>
  <button
    id="scg-type-arc-const-temp-fuz-access"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-const-temp-fuz-access.png" />
  </button>
  <button
    id="scg-type-edge-var"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-edge-var.png" />
  </button>
  <button
    id="scg-type-arc-var"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-var.png" />
  </button>
  <button
    id="scg-type-arc-var-perm-pos-access"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-var-perm-pos-access.png" />
  </button>
  <button
    id="scg-type-arc-var-perm-neg-access"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-var-perm-neg-access.png" />
  </button>
  <button
    id="scg-type-arc-var-perm-fuz-access"
    type="button"
    class="btn btn-default popover-btn edge-btn"
  >
    <img src="/static/components/images/scg/scg-arc-var-perm-fuz-access.png" />
  </button>
</div>
