<div class="input-group demo-input-group">
  <input
    id="scg-change-idtf-input"
    class="form-control demo-popover-input"
    value=""
    placeholder="Введите идентификатор..."
    autofocus
  />
  <div class="demo-input-group-btn">
    <button
      type="button"
      id="scg-change-idtf-cancel"
      class="btn demo-popover-cancel-btn"
    >
      Отмена
    </button>
    <button
      type="button"
      id="scg-change-idtf-apply"
      class="btn demo-popover-save-btn"
    >
      Сохранить
    </button>
  </div>
</div>
