<div class="demo-scg-tools-panel">
    <div class="disabled-block"></div>
    <div class="demo-btn-group" data-toggle="buttons">
        <label id="scg-tool-fragments" class="btn btn-default sc-no-default-cmd btn-xs demo-btn">
            <input type="radio" name="options" id="option1"> <img id="scg-tool-fragments-img" src="/static/components/images/scg/demo-tool-edit.svg"/> </input>
        </label>
        <label id="scg-tool-select" class="btn btn-default sc-no-default-cmd btn-xs demo-btn" sc_control_sys_idtf="ui_scg_control_tool_select">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-select.svg"/> </input>
        </label>
        <label id="scg-tool-edge" class="btn btn-default sc-no-default-cmd btn-xs demo-btn" sc_control_sys_idtf="ui_scg_control_tool_edge">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-pair.svg"/> </input>
        </label>
        <label id="scg-tool-bus" class="btn btn-default sc-no-default-cmd btn-xs demo-btn" sc_control_sys_idtf="ui_scg_control_tool_bus">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-bus.svg"/> </input>
        </label>
        <label id="scg-tool-contour" class="btn btn-default sc-no-default-cmd btn-xs demo-btn" sc_control_sys_idtf="ui_scg_control_tool_contour">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-contour.svg"/> </input>
        </label>
        <label id="scg-tool-link" class="btn btn-default sc-no-default-cmd btn-xs demo-btn" sc_control_sys_idtf="ui_scg_control_tool_link">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-link.svg"/> </input>
        </label>
        <div class="demo-dividing-line"></div>
        <label id="scg-tool-undo" class="btn btn-default sc-no-default-cmd btn-xs demo-btn " sc_control_sys_idtf="ui_scg_control_tool_undo">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-undo.svg"/> </input>
        </label>
        <label id="scg-tool-redo" class="btn btn-default sc-no-default-cmd btn-xs demo-btn " sc_control_sys_idtf="ui_scg_control_tool_redo">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-redo.svg"/> </input>
        </label>
        <button id="scg-tool-change-idtf" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden demo-btn " sc_control_sys_idtf="ui_scg_control_tool_change_idtf">
            <img src="/static/components/images/scg/demo-tool-change-idtf.svg"/>
        </button>
        <button id="scg-tool-set-content" type='button' class="btn btn-default sc-no-default-cmd btn-xs hidden demo-btn " sc_control_sys_idtf="ui_scg_control_tool_set_content">
            <img src="/static/components/images/scg/demo-tool-set-content.svg"/>
        </button>
        <label id="scg-tool-change-type" class="btn btn-default sc-no-default-cmd btn-xs hidden demo-btn " sc_control_sys_idtf="ui_scg_control_tool_change-type">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-change-type.svg"/> </input>
        </label>
        <label id="scg-tool-delete" class="btn btn-default sc-no-default-cmd btn-xs hidden demo-btn " sc_control_sys_idtf="ui_scg_control_tool_delete">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-delete.svg"/> </input>
        </label>
        <label id="scg-tool-zoomin" class="btn btn-default sc-no-default-cmd btn-xs demo-btn " sc_control_sys_idtf="ui_scg_control_tool_zoomin">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-zoom-in.svg"/> </input>
        </label>
        <label id="scg-tool-zoomout" class="btn btn-default sc-no-default-cmd btn-xs demo-btn " sc_control_sys_idtf="ui_scg_control_tool_zoomout">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-zoom-out.svg"/> </input>
        </label>
        <div class="demo-dividing-line"></div>
        <div id="scg-tool-open" class="btn btn-default sc-no-default-cmd btn-xs demo-btn " sc_control_sys_idtf="ui_scg_control_tool_open">
            <input id="scg-tool-open-dialog" type="file" accept=".gwf" style="visibility: hidden; position: absolute;">
            <img src="/static/components/images/scg/demo-tool-open.svg"/>
        </div>
        <label id="scg-tool-integrate" class="btn btn-default sc-no-default-cmd btn-xs demo-btn " sc_control_sys_idtf="ui_scg_control_tool_integrate">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-integrate.svg"/> </input>
        </label>
        <label id="scg-tool-save" class="btn btn-default sc-no-default-cmd btn-xs hide-SCg-btn" sc_control_sys_idtf="ui_scg_control_tool_save">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-save.svg"/> </input>
        </label>
        <label id="scg-tool-clear" class="btn btn-default sc-no-default-cmd btn-xs demo-btn " sc_control_sys_idtf="ui_scg_control_tool_clear">
            <input type="radio" name="options" id="option1"> <img src="/static/components/images/scg/demo-tool-clear.svg"/> </input>
        </label>
    </div>
</div>
