<table>
    <tr>
        <td>
            <button id="scg-type-const-node-link" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 43" width="24pt" height="32pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect x="-10" y="-10" width="20" height="40" style="fill: rgb(238, 238, 238); stroke: rgb(0, 0, 0); stroke-width: 1.5pt"></rect>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-link" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 43" width="24pt" height="32pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect x="-10" y="-10" width="20" height="40" style="fill: rgb(238, 238, 238); stroke: rgb(0, 0, 0); stroke-width: 1.5pt; stroke-dasharray: 14, 14"></rect>
                    </g>
                </svg>
            </button>
        </td>
    </tr>
</table>
