<div class="scg-tools-panel">
    <div class="btn-group-vertical" data-toggle="buttons">
        <label id="scg-tool-switch" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_switch">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/keyboard.svg"/> </input>
        </label>
        <label id="scg-tool-select" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_select">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-select.svg"/> </input>
        </label>
        <label id="scg-tool-connector" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_connector">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-pair.svg"/> </input>
        </label>
        <label id="scg-tool-bus" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_bus">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-bus.svg"/> </input>
        </label>
        <label id="scg-tool-contour" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_contour">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-contour.svg"/> </input>
        </label>
        <label id="scg-tool-link" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_link">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-link.svg"/> </input>
        </label>
        <label id="scg-tool-undo" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_undo">
            <img src="static/components/images/scg/tool-undo.svg"/>
        </label>
        <label id="scg-tool-redo" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_redo">
            <img src="static/components/images/scg/tool-redo.svg"/>
        </label>
        <label id="scg-tool-change-idtf" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden" sc_control_sys_idtf="ui_scg_control_tool_change_idtf" data-title="Change identifier"
                data-content="<div class='input-group'><input id='scg-change-idtf-input' class='form-control pull-left' value='' autofocus /> <div class='input-group-btn'><button type='button' id='scg-change-idtf-apply' class='btn btn-success'><span class='glyphicon glyphicon-ok-sign'/></button><button type='button' id='scg-change-idtf-cancel' class='btn btn-danger'><span class='glyphicon glyphicon-remove-sign'/></button></div></div>"
                data-html="true" data-placement="right" data-toggle="popover">
            <img src="static/components/images/scg/tool-change-idtf.svg"/>
        </label>
        <label id="scg-tool-set-content" type='button' class="btn btn-default sc-no-default-cmd btn-xs hidden" sc_control_sys_idtf="ui_scg_control_tool_set_content"
                data-content="<div class='textarea'><textarea cols='30' rows='3' id='scg-set-content-input' class='form-control pull-left' value='' autofocus /> <br/><input id='content' type='file' accept='image/*,text/html,application/pdf'/> <div id='scg-set-content-buttons-group' class='row'><button type='button' id='scg-set-content-apply' class='btn btn-success pull-left'><span class='glyphicon glyphicon-ok-sign'/>Apply</button><button type='button' id='scg-set-content-cancel' class='btn btn-danger pull-right'><span class='glyphicon glyphicon-remove-sign'/>Cancel</button></div>"
                data-html="true" data-placement="right" data-toggle="popover">
            <img src="static/components/images/scg/tool-set-content.svg"/>
        </label>
        <label id="scg-tool-change-type" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden" sc_control_sys_idtf="ui_scg_control_tool_change_type" >
            <img src="static/components/images/scg/tool-change-type.svg"/>
        </label>
        <label id="scg-tool-delete" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden" sc_control_sys_idtf="ui_scg_control_tool_remove_elements">
            <img src="static/components/images/scg/tool-delete.svg"/>
        </label>
        <label id="scg-tool-autosize" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_autosize">
            <img src="static/components/images/scg/tool-auto-size.svg"/>
        </label>
        <label id="scg-tool-zoomin" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_zoomin">
            <img src="static/components/images/scg/tool-zoom-in.svg"/>
        </label>
        <label id="scg-tool-zoomout" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_zoomout">
            <img src="static/components/images/scg/tool-zoom-out.svg"/>
        </label>
        <label id="scg-tool-integrate" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_integrate">
            <img src="static/components/images/scg/tool-integrate.svg"/>
        </label>
        <div id="scg-tool-open" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_open">
            <input id="scg-tool-open-dialog" type="file" accept=".gwf" style="visibility: hidden; position: absolute;">
            <img src="static/components/images/scg/tool-open.svg"/>
        </div>
        <label id="scg-tool-save" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_save">
            <img src="static/components/images/scg/tool-save.svg"/>
        </label>
        <label id="scg-tool-clear" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_clear">
            <img src="static/components/images/scg/tool-clear.svg"/>
        </label>
    </div>

