<div class="scg-tools-panel">
    <div class="btn-group-vertical" data-toggle="buttons">
        <label id="scg-tool-switch" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_switch">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/keyboard.png"/> </input>
        </label>
        <label id="scg-tool-select" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_select">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-select.png"/> </input>
        </label>
        <label id="scg-tool-edge" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_edge">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-pair.png"/> </input>
        </label>
        <label id="scg-tool-bus" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_bus">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-bus.png"/> </input>
        </label>
        <label id="scg-tool-contour" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_contour">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-contour.png"/> </input>
        </label>
        <label id="scg-tool-link" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_link">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-link.png"/> </input>
        </label>
    </div>
    <hr/>
    <div class="btn-group-vertical">
        <button id="scg-tool-undo" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_undo">
            <img src="static/components/images/scg/tool-undo.png"/>
        </button>
        <button id="scg-tool-redo" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_redo">
            <img src="static/components/images/scg/tool-redo.png"/>
        </button>
        <button id="scg-tool-change-idtf" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden" sc_control_sys_idtf="ui_scg_control_tool_change_idtf" data-title="Change identifier"
                data-content="<div class='input-group'><input id='scg-change-idtf-input' class='form-control pull-left' value='' autofocus /> <div class='input-group-btn'><button type='button' id='scg-change-idtf-apply' class='btn btn-success'><span class='glyphicon glyphicon-ok-sign'/></button><button type='button' id='scg-change-idtf-cancel' class='btn btn-danger'><span class='glyphicon glyphicon-remove-sign'/></button></div></div>"
                data-html="true" data-placement="right" data-toggle="popover">
            <img src="static/components/images/scg/tool-change-idtf.png"/>
        </button>
        <button id="scg-tool-set-content" type='button' class="btn btn-default sc-no-default-cmd btn-xs hidden" sc_control_sys_idtf="ui_scg_control_tool_set_content"
                data-content="<select id='scg-set-content-type' class='form-control'><option value='string'>string</option><option value='float'>float</option><option value='int8'>int8</option><option value='int16'>int16</option><option value='int32'>int32</option><option value='html'>html</option></select> <textarea cols='30' rows='3' id='scg-set-content-input' class='form-control pull-left' value='' autofocus /> <br/><input id='content' type='file' accept='image/*,text/html'/> <div id='scg-set-content-buttons-group' class='row'><button type='button' id='scg-set-content-apply' class='btn btn-success pull-left'><span class='glyphicon glyphicon-ok-sign'/>Apply</button><button type='button' id='scg-set-content-cancel' class='btn btn-danger pull-right'><span class='glyphicon glyphicon-remove-sign'/>Cancel</button></div>"
                data-html="true" data-placement="right" data-toggle="popover">
            <img src="static/components/images/scg/tool-set-content.png"/>
        </button>
        <button id="scg-tool-change-type" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden" sc_control_sys_idtf="ui_scg_control_tool_change_type" >
            <img src="static/components/images/scg/tool-change-type.png"/>
        </button>
        <button id="scg-tool-delete" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden" sc_control_sys_idtf="ui_scg_control_tool_delete">
            <img src="static/components/images/scg/tool-delete.png"/>
        </button>
        <button id="scg-tool-zoomin" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_zoomin">
            <img src="static/components/images/scg/tool-zoom-in.png"/>
        </button>
        <button id="scg-tool-zoomout" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_zoomout">
            <img src="static/components/images/scg/tool-zoom-out.png"/>
        </button>
        <button id="scg-tool-integrate" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_integrate">
            <img src="static/components/images/scg/tool-integrate.png"/>
        </button>
        <div id="scg-tool-open" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_open">
            <input id="scg-tool-open-dialog" type="file" accept=".gwf" style="visibility: hidden; position: absolute;">
            <img src="static/components/images/scg/tool-open.png"/>
        </div>
        <button id="scg-tool-save" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_save">
            <img src="static/components/images/scg/tool-save.png"/>
        </button>
        <button id="scg-tool-clear" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scg_control_tool_clear">
            <img src="static/components/images/scg/tool-clear.png"/>
        </button>
    </div>
</div>
