<table>
    <tr>
        <td>
            <button id="scg-type-node" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node.png"/>
            </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-const-node" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-const-node-class" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-group.png"/>
            </button>
        </td>
        <td></td>
            <button id="scg-type-const-node-superclass" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-abstract.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-const-node-material" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-material.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-const-node-norole" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-norole.png"/>
            </button>
        </td>
    </tr>
    <tr>

        <td>
            <button id="scg-type-const-node-role" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-role.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-const-node-struct" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-struct.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-const-node-tuple" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-tuple.png"/>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-var-node" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-class" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-group.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-superclass" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-abstract.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-material" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-material.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-norole" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-norole.png"/>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-var-node-role" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-role.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-struct" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-struct.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-tuple" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-tuple.png"/>
            </button>
        </td>
    </tr>
</table>
