<div class="scg-tools-panel">
    <div class="btn-group-vertical" data-toggle="buttons">
        
        <label id="scg-tool-select" class="btn btn-default" title="sc.g-node creation mode">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-select.png"/> </input>
        </label>
        <label id="scg-tool-edge" class="btn btn-default" title="sc.g-arc creation mode">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-pair.png"/> </input>
        </label>
        <label id="scg-tool-bus" class="btn btn-default" title="sc.g-bus creation mode">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-bus.png"/> </input>
        </label>
        <label id="scg-tool-contour" class="btn btn-default" title="sc.g-contour creation mode">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scg/tool-contour.png"/> </input>
        </label>
    </div>
    <hr/>
    <div class="btn-group-vertical">
        <button id="scg-tool-change-idtf" type="button" class="btn btn-default" title="Change identifier" data-title="Change identifier" 
                data-content="<div class='input-group'><input id='scg-change-idtf-input' class='form-control pull-left' value=''/> <div class='input-group-btn'><button type='button' id='scg-change-idtf-apply' class='btn btn-success'><span class='glyphicon glyphicon-ok-sign'/></button><button type='button' id='scg-change-idtf-cancel' class='btn btn-danger'><span class='glyphicon glyphicon-remove-sign'/></button></div></div>" 
                data-html="true" data-placement="right" data-toggle="popover">
            <img src="static/components/images/scg/tool-change-idtf.png"/>
        </button>
        <button id="scg-tool-change-type" type="button" class="btn btn-default" title="Change type" >
            <img src="static/components/images/scg/tool-change-type.png"/>
        </button>
        <button id="scg-tool-delete" type="button" class="btn btn-default" title="Delete">
            <img src="static/components/images/scg/tool-delete.png"/>
        </button>
        <button id="scg-tool-zoomin" type="button" class="btn btn-default" title="Zoom in">
            <img src="static/components/images/scg/tool-zoom-in.png"/>
        </button>
        <button id="scg-tool-zoomout" type="button" class="btn btn-default" title="Zoom out">
            <img src="static/components/images/scg/tool-zoom-out.png"/>
        </button>
        <button id="scg-tool-integrate" type="button" class="btn btn-default" title="Integrate">
            <img src="static/components/images/scg/tool-integrate.png"/>
        </button>

        <div id="scg-tool-open" type="button" class="btn btn-default" title="Open">
            <input id="scg-tool-open-dialog" type="file" style="visibility: hidden; position: absolute;">
            <img style="width: 30px" src="static/components/images/scg/tool-open.png"/>
        </div>
        

    </div>
</div>
