<table>
    <tr>
        <td>
            <button id="scg-type-node" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <circle cx="0" cy="0" r="4" style="fill: rgb(0, 0, 0);"></circle>
                    </g>
                </svg>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-const-node" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <circle cx="0" cy="0" r="10" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.4pt"></circle>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-const-node-tuple" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <circle cx="0" cy="0" r="10" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.4pt"></circle>
                        <line x1="-10" x2="10" y1="0" y2="0" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-const-node-structure" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <circle cx="0" cy="0" r="10" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.4pt"></circle>
                        <circle cx="0" cy="0" r="2" style="fill: rgb(0, 0, 0);"></circle>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-const-node-role" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <circle cx="0" cy="0" r="10" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.4pt"></circle>
                        <line x1="0" x2="0" y1="-10" y2="10" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-10" x2="10" y1="0" y2="0" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-const-node-non-role" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <circle cx="0" cy="0" r="10" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.4pt"></circle>
                        <line x1="-10" x2="10" y1="0" y2="0" transform="rotate(45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-10" x2="10" y1="0" y2="0" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-const-node-class" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <circle cx="0" cy="0" r="10" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.4pt"></circle>
                        <line x1="-9.2" x2="9.2" y1="-3" y2="-3" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-9.2" x2="9.2" y1="3" y2="3" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-3" x2="-3" y1="-9.2" y2="9.2" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="3" x2="3" y1="-9.2" y2="9.2" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-const-node-superclass" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <circle cx="0" cy="0" r="10" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.4pt"></circle>
                        <line x1="-7" x2="0" y1="7" y2="-7" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="7" x2="0" y1="7" y2="-7" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-const-node-material" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <circle cx="0" cy="0" r="10" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.4pt"></circle>
                        <line x1="-7.8" x2="7.8" y1="-6" y2="-6" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-9.2" x2="9.2" y1="-3" y2="-3" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-9.2" x2="9.2" y1="0" y2="0" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-9.2" x2="9.2" y1="3" y2="3" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-7.8" x2="7.8" y1="6" y2="6" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-var-node" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect x="-10" y="-10" width="20" height="20" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.5pt"></rect>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-tuple" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g> 
                        <rect x="-10" y="-10" width="20" height="20" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.5pt"></rect>
                        <line x1="-10" x2="10" y1="0" y2="0" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-structure" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect x="-10" y="-10" width="20" height="20" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.5pt"></rect>
                        <circle cx="0" cy="0" r="2" style="fill: rgb(0, 0, 0);"></circle>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-role" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect x="-10" y="-10" width="20" height="20" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.5pt"></rect>
                        <line x1="0" x2="0" y1="-10" y2="10" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-10" x2="10" y1="0" y2="0" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-var-node-non-role" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect x="-10" y="-10" width="20" height="20" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.5pt"></rect>
                        <line x1="-13" x2="13" y1="0" y2="0" transform="rotate(45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-13" x2="13" y1="0" y2="0" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-class" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect x="-10" y="-10" width="20" height="20" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.5pt"></rect>
                        <line x1="-9.2" x2="9.2" y1="-3" y2="-3" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-9.2" x2="9.2" y1="3" y2="3" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-3" x2="-3" y1="-9.2" y2="9.2" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="3" x2="3" y1="-9.2" y2="9.2" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-superclass" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect x="-10" y="-10" width="20" height="20" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.5pt"></rect>
                        <line x1="-9" x2="0" y1="8" y2="-8" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="9" x2="0" y1="8" y2="-8" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
        <td>
            <button id="scg-type-var-node-material" type="button" class="btn btn-default">
                <svg viewBox="-12 -12 24 22" width="24pt" height="24pt" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect x="-10" y="-10" width="20" height="20" style="fill: rgb(250, 246, 246); stroke: rgb(0, 0, 0); stroke-width: 1.5pt"></rect>
                        <line x1="-7.8" x2="7.8" y1="-6" y2="-6" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-10" x2="10" y1="-3" y2="-3" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-13" x2="13" y1="0" y2="0" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-10" x2="10" y1="3" y2="3" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                        <line x1="-7.8" x2="7.8" y1="6" y2="6" transform="rotate(-45, 0, 0)" style="stroke: rgb(0, 0, 0);"></line>
                    </g>
                </svg>
            </button>
        </td>
    </tr>
</table>
