<link rel="stylesheet" type="text/css" href="{{ static_url("common/highlight/googlecode.css") }}" />

<script type="text/javascript" charset="utf-8" src="{{ static_url("common/jquery/jquery-1.8.3.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("common/jquery/jquery.namespace.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("common/bootstrap/js/bootstrap.min.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("common/typeahead/typeahead.bundle.min.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("common/kinetic/kinetic-v4.0.1.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("common/d3/d3.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("common/highlight/highlight.min.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("common/base64/base64.min.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("common/pdf/pdf.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("common/pdf/pdf.worker.js") }}"></script>
