<link rel="stylesheet" type="text/css" href="/static/common/highlight/googlecode.css" />
<link rel="stylesheet" type="text/css" href="/static/common/context/context.standalone.css" />

<script type="text/javascript" charset="utf-8" src="/static/common/jquery/jquery-2.1.3.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/common/jquery/jquery.namespace.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/common/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/common/typeahead/typeahead.bundle.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/common/context/context.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/common/kinetic/kinetic-v4.0.1.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/common/d3/d3.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/common/highlight/highlight.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/common/base64/base64.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/common/pdf/pdf.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/common/pdf/pdf.worker.js"></script>
