<link rel="stylesheet" type="text/css" href="{{ static_url("components/css/scg.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ static_url("components/css/scs.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ static_url("components/css/html.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ static_url("components/css/github.css") }}" />


<script type="text/javascript" charset="utf-8" src="{{ static_url("components/js/sc-web-core.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("components/js/scs/scs.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("components/js/scg/scg.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("components/js/image/image.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("components/js/txt/txt.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("components/js/html/html.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("components/js/youtube/youtubelink.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("components/js/map/googlemaplink.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("components/js/github/github.js") }}"></script>



