<link rel="stylesheet" type="text/css" href="/static/components/css/scg.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/scs.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/html.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/github.css" />


<script type="text/javascript" charset="utf-8" src="/static/components/js/sc-web-core.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scs/scs.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scg/scg.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/image/image.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/txt/txt.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/html/html.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/youtube/youtubelink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/map/googlemaplink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/github/github.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/pdf/pdf.js"></script>

<script type="text/javascript" charset="utf-8" src="/static/components/js/file-saver/FileSaver.min.js"></script>
