{% load i18n %}
{% load pacman_extras %}

{% pacman_package_model_verbose_name as package_verbose_name %}
{% if cl.opts.verbose_name == package_verbose_name %}
    {% pacman_packages_status as packages_status %}
    <div class="inline-group">
        <div class="tabular inline-related last-related">
            <fieldset class="module">
                <h2>Repository status</h2>
                <table>
                    <tbody>
                        <tr class="form-row row1">
                            <td>
                                <form method="POST" action="{% url pacman:pull_task %}">
                                    {% blocktrans %}Accepted packages:{% endblocktrans %} {{ packages_status.accepted }}
                                    {% if not packages_status.updated and not packages_status.waiting_for_delete %}
                                        {% csrf_token %}
                                        <input type="submit" value="{% blocktrans %}Update repo (pull){% endblocktrans %}">
                                    {% endif %}
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="{% url pacman:push_task %}">
                                    {% blocktrans %}Updated packages:{% endblocktrans %} {{ packages_status.updated }}
                                    {% if packages_status.updated %}
                                        {% csrf_token %}
                                        <input type="submit" value="{% blocktrans %}Push changes to repo{% endblocktrans %}">
                                    {% endif %}
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="{% url pacman:push_task %}">
                                    {% blocktrans %}Waiting for delete packages:{% endblocktrans %} {{ packages_status.waiting_for_delete }}
                                    {% if packages_status.waiting_for_delete %}
                                        {% csrf_token %}
                                        <input type="submit" value="{% blocktrans %}Push changes to repo{% endblocktrans %}">
                                    {% endif %}
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="{% url pacman:download_task %}">
                                    {% blocktrans %}Waiting for download packages:{% endblocktrans %} {{ packages_status.waiting_for_download }}
                                    {% if packages_status.waiting_for_download %}
                                        {% csrf_token %}
                                        <input type="submit" value="{% blocktrans %}Download packages files{% endblocktrans %}">
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
{% endif %}
