#SCnFieldComment {
	font-size: 90%;
}

#SCnRuler {
	border-left: dotted 1px #999999;
}

.SCnNoTransContent {
	border: solid 1px #cccccc;
	background-color: #CDC7C6;
	display: inline-block;
	padding: 3px;
	background:url("./images/content_corner.png") 0 0 no-repeat #eeeeee;
}

.SCnTransContent {
	border: solid 1px #96a399;
	background-color: #eeeeee;
	display: inline-block;
	padding: 3px;
	border-radius: 8px;
}

.SCnSentence {
	padding: 2px;
	clear: both;
}

.SCnKeyword {
	padding: 20px 2px 0px 2px;
	font-weight: bold;
	font-style: italic;
}

.SCnLink {
	font-style: italic;
}

.SCnFieldMarker {
	width: 15px;
	text-align: left;
	float: left;
	margin-top: -2px;
	vertical-align: text-top;
	font-family: "Unicode Symbols", "Times New Roman", "Apple Symbols","Arial Unicode MS";
	/*font-size: 75%;*/
}

.SCnFieldValue {
	vertical-align: text-top;
}

.SCnField {
	clear: both;
}

/* selection purpose class */
.SCnHovered {
    cursor: pointer !important;
    border: dashed #669933 2px !important;
}

/* selection purpose class */
.SCnSelected {
    cursor: pointer !important;
    border: solid #993300 2px !important;
}

#ContentWrap {
	/*max-width: 800px;*/
	/*max-height: 1000px;*/
	overflow: auto;
}

/* overriding jQuery tabs styles */
.SCnNoTransContent {
    color: black;
}

#scncontainer a.SCnLink {
    color: #0088CC;
}

.SCnLevel{
	padding-left: 15px;
}
