.SCgSvg {
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.SCgText {
    fill: #00a;
    font-family: "Arial";
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    pointer-events: none;
    stroke: none;
}

.SCgNodeEmpty {
}

.SCgNode {
    fill: #eee;
    stroke: #000;
    stroke-width: 5px;
}

.SCgLink {
    fill: #eee;
    stroke: #000;
    stroke-width: 5px;
}

.SCgLinkContainer {
    display: block; 
    padding: 5px 0px 5px 5px;
    min-width: 25px;
    min-height: 25px;
}

/* --- Connectors --- */
.SCgConnectorSelectBounds {
    stroke: none;
    stroke-width: 10px;
    fill: none;
}

.SCgConnector {
    stroke: #a00;
    stroke-width: 3px;
    fill: none;
}

.SCgConstCommonConnectorBackground {
    stroke-width: 8px;
    fill: none;
}

.SCgCommonConnectorForeground {
    stroke-width: 5px;
    stroke: #fff;
    fill: none;
}
.SCgCommonConnectorForeground.DBSCgFirstLevelView {
    stroke-width: 5;
}
.SCgCommonConnectorForeground.DBSCgSecondLevelView {
    stroke-width: 4.5;
}
.SCgCommonConnectorForeground.DBSCgThirdLevelView {
    stroke-width: 4;
}
.SCgCommonConnectorForeground.DBSCgFourthLevelView {
    stroke-width: 3.5;
}
.SCgCommonConnectorForeground.DBSCgFifthLevelView {
    stroke-width: 3.5;
    opacity: 0.8;
}
.SCgCommonConnectorForeground.DBSCgSixthLevelView {
    stroke-width: 3.5;
    opacity: 0.6;
}
.SCgCommonConnectorForeground.DBSCgSeventhLevelView {
    stroke-width: 3;
    opacity: 0.4;
}

.SCgCommonConnectorForegroundVar {
    stroke-width: 5px;
    fill: none;
}

.SCgUnknownCommonConnectorForeground {
    stroke-width: 8px;
    stroke-dasharray: 14, 14;
    fill: none;
}

.SCgConstPermArc {
    stroke-width: 1.5;
    fill: none;
    opacity: 1;
}
.SCgConstPermArc.DBSCgFirstLevelView {
    stroke-width: 1.5;
}
.SCgConstPermArc.DBSCgSecondLevelView {
    stroke-width: 1.2;
}
.SCgConstPermArc.DBSCgThirdLevelView {
    stroke-width: 1;
}
.SCgConstPermArc.DBSCgFourthLevelView {
    stroke-width: 0.5;
}
.SCgConstPermArc.DBSCgFifthLevelView {
    stroke-width: 0.5;
    opacity: 0.8;
}
.SCgConstPermArc.DBSCgSixthLevelView {
    stroke-width: 0.5;
    opacity: 0.6;
}
.SCgConstPermArc.DBSCgSeventhLevelView {
    stroke-width: 0.5;
    opacity: 0.4;
}

.SCgConstTempArc {
    stroke-width: 1.5;
    stroke-dasharray: 2, 2;
    fill: none;
}
.SCgConstTempArc.DBSCgFirstLevelView {
    stroke-width: 1.5;
}
.SCgConstTempArc.DBSCgSecondLevelView {
    stroke-width: 1.2;
}
.SCgConstTempArc.DBSCgThirdLevelView {
    stroke-width: 1;
}
.SCgConstTempArc.DBSCgFourthLevelView {
    stroke-width: 0.5;
}
.SCgConstTempArc.DBSCgFifthLevelView {
    stroke-width: 0.5;
    opacity: 0.8;
}
.SCgConstTempArc.DBSCgSixthLevelView {
    stroke-width: 0.5;
    opacity: 0.6;
}
.SCgConstTempArc.DBSCgSeventhLevelView {
    stroke-width: 0.5;
    opacity: 0.4;
}

.SCgVarTempArc {
    stroke-width: 1.5;
    stroke-dasharray: 2, 2, 2, 2, 2, 2, 2, 14;
    fill: none;
}
.SCgVarTempArc.DBSCgFirstLevelView {
    stroke-width: 1.5;
}
.SCgVarTempArc.DBSCgSecondLevelView {
    stroke-width: 1.2;
}
.SCgVarTempArc.DBSCgThirdLevelView {
    stroke-width: 1;
}
.SCgVarTempArc.DBSCgFourthLevelView {
    stroke-width: 0.5;
}
.SCgVarTempArc.DBSCgFifthLevelView {
    stroke-width: 0.5;
    opacity: 0.8;
}
.SCgVarTempArc.DBSCgSixthLevelView {
    stroke-width: 0.5;
    opacity: 0.6;
}
.SCgVarTempArc.DBSCgSeventhLevelView {
    stroke-width: 0.5;
    opacity: 0.4;
}

.SCgMembershipArcArrowEnd {
    fill: none;
}

.SCgCommonArcArrowEnd {
    fill: none;
    stroke-width: 7.5;
}
.SCgCommonArcArrowEnd.DBSCgFirstLevelView {
    stroke-width: 7.5;
}
.SCgCommonArcArrowEnd.DBSCgSecondLevelView {
    stroke-width: 7.3;
}
.SCgCommonArcArrowEnd.DBSCgThirdLevelView {
    stroke-width: 6.1;
}
.SCgCommonArcArrowEnd.DBSCgFourthLevelView {
    stroke-width: 4.9;
}
.SCgCommonArcArrowEnd.DBSCgFifthLevelView {
    stroke-width: 4.9;
    opacity: 0.8;
}
.SCgCommonArcArrowEnd.DBSCgSixthLevelView {
    stroke-width: 4.9;
    opacity: 0.6;
}
.SCgCommonArcArrowEnd.DBSCgSeventhLevelView {
    stroke-width: 4;
    opacity: 0.4;
}

.SCgVarPermArc {
    stroke-dasharray: 14, 14;
}

.SCgVarCommonConnectorBackground {
    stroke-width: 8px;
    stroke-dasharray: 14, 14;
    fill: none;
}

.SCgNegArc {
    stroke-dasharray: 0, 20, 2, 6;
    stroke-width: 10px;
}
.SCgNegArc.DBSCgFirstLevelView {
    stroke-width: 10px;
}
.SCgNegArc.DBSCgSecondLevelView {
    stroke-width: 9px;
}
.SCgNegArc.DBSCgThirdLevelView {
    stroke-width: 8px;
}
.SCgNegArc.DBSCgFourthLevelView {
    stroke-width: 7px;
}
.SCgNegArc.DBSCgFifthLevelView {
    stroke-width: 6px;
    opacity: 0.8;
}
.SCgNegArc.DBSCgSixthLevelView {
    stroke-width: 5px;
    opacity: 0.6;
}
.SCgNegArc.DBSCgSeventhLevelView {
    stroke-width: 4px;
    opacity: 0.4;
}

/* TODO */
.SCgFuzArc {
    stroke-dasharray: 0, 20, 2, 6;
    stroke-width: 10px;
}

/* --------- */
.SCgPermArcDash {
    stroke-dasharray: 4, 10;
}

/* --- contours --- */
.SCgContour {
    fill: #ddddff;
    stroke: black;
    stroke-width: 2px;
    stroke-linejoin: round;
    opacity: 0.9;
}

.SCgRemovePoint {
    stroke: #fbf4f2;
    stroke-width: 3px;
    fill: #d60011;
}

.SCgAcceptPoint {
    stroke: #fbf4f2;
    stroke-width: 3px;
    fill: #33bb33;
}

.SCgAcceptPointHighlighted {
    stroke: #fcf5f3;
    stroke-width: 3px;
    fill: #44cc44;
}

.SCgRemovePointHighlighted {
    fill: #ff3300;
    stroke: #ffbe52;
}

.SCgLinePoint {
    stroke: #fbf4f2;
    stroke-width: 4px;
    fill: #d60011;
}

.SCgLinePointHighlighted {
    fill: #ff3300;
    stroke: #ffbe52;
    cursor: move;
}

path.dragline {
    stroke: #535a69;
    stroke-dasharray: 2, 2;
    stroke-width: 2px;
    fill: none;
}

path.draglineBus {
    stroke: blue;
    stroke-dasharray: 25, 10, 10, 10;
    stroke-width: 5px;
    fill: none;
}

path.SCgConnector.hidden {
    stroke-width: 0;
}

path.SCgBus {
    fill: none;
    stroke: black;
    stroke-dasharray: none;
    stroke-width: 5px;
}

path.SCgBusPath {
    fill: none;
    stroke-width: 5px;
}

/* ----- States ----- */
.SCgElement {
    cursor: pointer;
}

.SCgStateNormal {
    stroke: #777;
}

.SCgStateNormal.SCgStateHighlighted {
    stroke: #bbb;
}

.SCgStateMergedWithMemory {
    stroke: #076edd;
}

.SCgStateMergedWithMemory.SCgStateHighlighted {
    stroke: #7189a3;
}

.SCgStateNewInMemory {
    stroke: #5e7027;
}

.SCgStateNewInMemory.SCgStateHighlighted {
    stroke: #aeb893;
}

.SCgStateFromMemory {
    stroke: #000;
}

.SCgStateFromMemory.SCgStateHighlighted {
    stroke: #444;
}

.SCgStateSelected {
    stroke: #c73e00;
}

.SCgStateSelected.SCgStateHighlighted {
    stroke: #fd8e00;
}

/* ------------- User interface -------------- */
.scg-tools-panel {
    position: absolute;
}

.btn-group-vertical {
    max-width: 34px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 0px 8px 8px white;
  }
 
 @media screen and (max-height: 900px) {
    .scg-tools-panel {
       height: calc(100% - 20px);
       padding-top: 16px;
       padding-bottom: 16px;
       cursor: auto;
    }
    hr {
       display: none;
    }
    .icon-items{
       border-radius: 0px !important;
       margin-bottom: 0px;
    }
    .btn-group-vertical {
       flex-wrap: wrap;
       max-height: 100%;
    }
 }

.scg-tools-panel img {
    width: 30px;
}

#scg-set-content-input {
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#scg-set-content-buttons-group {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#scg-set-content-buttons-group button span {
    margin-right: 5px;
}

.scg-type-list {
    max-height: 400px;
    overflow-y: scroll;
}

.tt-dropdown-menu .tt-dataset-idtf {
    background-color: #f5f5f5;
    border: 1px solid #a3a3a3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 450px;
    max-height: 400px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion {
    display: inline-block;
    max-width: 450px !important;
    white-space: normal !important;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion p {
    margin: 5px 2px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion .tt-suggestion-icon {
    width: 16px;
    height: 16px;
    margin: auto 2px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestions {
    width: 100%;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion:nth-child(odd) {
    background-color: #e9e9e9;
}

.demo-scg-tools-panel {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
    box-shadow: 0px 20px 20px 5px #ffffff;
}

.demo-btn-group {
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
}

.demo-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 36px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ffffff;
}

.demo-btn:hover {
    background: #f5f5f5;
}

.demo-btn:active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.btn.active.demo-btn {
    background: #e5e5e5 !important;
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.demo-btn:first-child {
    margin-right: 6px;
}

.demo-dividing-line {
    height: 35px;
    margin: 0 6px 0 6px;
    border: 1px solid #ccd7de;
}

.demo-scg-shadow {
    position: relative;
}

.demo-scg-shadow::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0px 0px 15px 25px #ffffff;
    pointer-events: none;
}

.demo-scg-tool-fragments-popover {
    height: fit-content;
    top: 50px !important;
    left: 0 !important;
    padding: 0 !important;
}

.demo-scg-popover-layout {
    background: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.demo-scg-popover-title {
    background-color: #ffffff;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #323232;
}

.popover-position {
    top: 50px !important;
    left: 0 !important;
}

.popover-position-change-type {
    top: 50px !important;
    left: 321px !important;
}

.popover-position-set-content {
    top: 50px !important;
    left: 226px !important;
}

.popover-position-change-idtf {
    top: 50px !important;
    left: 227px !important;
}

.demo-scg-close-btn-fragments-window {
    margin-top: 5px !important;
    margin-right: 8px !important;
}

.demo-scg-popover-layout .tt-dropdown-menu {
    top: 46px !important;
}

.demo-scg-popover-layout .tt-dataset-idtf {
    max-width: 324px !important;
    min-width: 324px !important;
    max-height: 296px !important;
    background: #ffffff !important;
    border: none !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px !important;
    overflow-y: auto !important;
    overflow-x: auto;
}

.demo-scg-popover-layout .tt-dataset-idtf::-webkit-scrollbar {
    width: 4px !important;
    margin: 8px !important;
}

.demo-scg-popover-layout .tt-dataset-idtf::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-color: #c0c0c0 !important;
    margin: 8px !important;
}

.demo-scg-popover-layout .tt-dataset-idtf::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: transparent !important;
}

.demo-scg-popover-layout .tt-suggestion {
    background: #ffffff !important;
    border-bottom: 1px solid #f6f6f6 !important;
    padding: 8px 16px !important;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #454545;
}

.demo-scg-popover-layout
.tt-dropdown-menu
.tt-dataset-idtf
.tt-suggestion:hover {
    background-color: #f5f5f5 !important;
}

.demo-set-content-popover {
    width: 362px !important;
    height: fit-content !important;
}

.demo-set-content-popover-content {
    width: 362px;
    height: 470px;
}

.demo-set-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
}

.demo-fragments-btn {
    width: 100%;
    padding: 8px 16px;
    background-color: #ffffff;
    border: none;
    outline: none;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #454545;
    transition: all 0.3s ease;
}

.demo-fragments-btn:hover {
    background-color: #f6f6f6;
}

.demo-fragments-btn:active {
    background-color: #ebedff;
}

.demo-fragments-btn:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.demo-fragments-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.demo-scg-types-panel-nodes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    width: 216px;
}

.node-btn {
    width: 48px;
    height: 36px;
}

.edge-btn {
    width: 152px;
    height: 36px;
    padding: 6px 12px !important;
}

.popover-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.popover-btn:hover {
    background: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}

.popover-btn:active {
    background-color: #ebedff;
    outline: none !important;
    box-shadow: none !important;
    border-color: #ebebeb !important;
}

.popover-btn:focus {
    outline: none !important;
}

.popover-btn:focus-visible {
    outline: none !important;
}

.node-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.demo-scg-type-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    height: 300px;
    padding-right: 77px;
    overflow-y: scroll;
}

.demo-scg-type-list::-webkit-scrollbar {
    width: 4px !important;
    margin: 8px !important;
}

.demo-scg-type-list::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-color: #c0c0c0 !important;
    margin: 8px !important;
}

.demo-scg-type-list::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: transparent !important;
}

.demo-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.demo-text-align-center {
    text-align: center;
}

.demo-popover-width {
    max-width: 361px !important;
    height: fit-content;
}

.demo-input-group-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.demo-popover-save-btn {
    width: fit-content;
    padding: 8px 16px;
    background: #5896c0;
    border: 2px solid #5896c0;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.demo-popover-save-btn:hover {
    background: #4980a5;
    border: 2px solid #4980a5;
    color: #ffffff;
}

.demo-popover-save-btn:focus {
    outline: none !important;
}
.demo-popover-save-btn:active {
    background: #4980a5;
    border: 2px solid #5896c0;
    color: #ffffff;
    box-shadow: none !important;
}

.demo-popover-input {
    background: #ffffff;
    border: 2px solid #ebebeb !important;
    border-radius: 10px !important;
    padding: 8px 16px !important;
    margin: 0 !important;
}

.demo-popover-textarea {
    height: 250px !important;
}

.demo-popover-input:hover,
.demo-popover-input:active,
.demo-popover-input:focus {
    border: 2px solid #7ec0ee !important;
}

.demo-popover-input::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #737373;
}

.demo-popover-dropdown {
    background: #ffffff !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px !important;
}

.demo-popover-cancel-btn {
    width: fit-content;
    padding: 8px 16px;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #5896c0;
    transition: all 0.3s ease;
}

.demo-popover-cancel-btn:hover {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
    color: #5896c0;
}

.demo-popover-cancel-btn:focus {
    outline: none !important;
}

.demo-popover-cancel-btn:active {
    background: #f5f5f5;
    border: 2px solid #ffffff;
    color: #5896c0;
    box-shadow: none !important;
}

.demo-select-wrapper {
    z-index: 901;
}

.demo-select-wrapper select {
    display: none;
}

.demo-select {
    position: relative;
    appearance: none;
    width: 238px !important;
    height: 43px !important;
    border: none !important;
    outline: none !important;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #323232;
    cursor: pointer;
    transition: all 0.3s ease;
}

.demo-select::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 17px;
    z-index: 9999;
    width: 9px;
    height: 9px;
    border: 1px solid grey;
    border-top: transparent;
    border-right: transparent;
    transform: rotate(-45deg);
    pointer-events: none;
}

.demo-select-value {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    margin-bottom: 2px;
    padding: 8px 16px;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #323232;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.demo-select-value:hover {
    background: #f5f5f5 !important;
}

.demo-options {
    display: none;
    height: 234px;
    margin: 0 !important;
    padding: 0 !important;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.demo-select.opened .demo-select-value {
    background: #f5f5f5 !important;
}

.demo-select.opened .demo-options {
    display: block;
}

.demo-select.opened::before {
    transform: rotate(-225deg);
    top: 22px;
}

.demo-option {
    padding: 8px 16px !important;
    background: #ffffff !important;
    list-style-type: none;
    cursor: pointer !important;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #454545;
}

.demo-option:hover {
    background: #f6f6f6 !important;
}

.demo-selected-option {
    background: #ebedff !important;
}

.demo-selected-option:hover {
    background: #e6e7f2 !important;
}

.demo-file-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    margin: 0 !important;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #737373;
    cursor: pointer;
}

.demo-file-input input {
    display: none;
}

.demo-file-input-btn {
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.demo-file-input-btn:hover {
    background: #f5f5f5;
}

.demo-file-input-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.create-fragment-window-fade.demo::before {
    background: rgba(250, 250, 250, 0.65) !important;
}

.demo .create-fragment-window {
    width: 541px !important;
    height: fit-content;
    padding: 16px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.demo .create-fragment-window-title {
    margin-bottom: 42px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
}

.demo #create-fragment-input {
    margin-bottom: 42px;
    padding: 8px 16px !important;
    background: #ffffff;
    border: 2px solid #ebebeb;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #323232;
}

.demo #create-fragment-input:hover,
.demo #create-fragment-input:active,
.demo #create-fragment-input:focus {
    border: 2px solid #7ec0ee !important;
}

.demo #create-fragment-input::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #737373;
}

.demo-input-label {
    margin-left: 16px;
    margin-bottom: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #737373;
}

.demo .btn-create {
    width: fit-content;
    padding: 8px 16px;
    background: #5896c0;
    border: 2px solid #5896c0;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.demo .btn-create:hover {
    background: #4980a5;
    border: 2px solid #4980a5;
    color: #ffffff;
}

.demo .btn-create:focus {
    outline: none !important;
}

.demo .btn-create:active {
    background: #4980a5;
    border: 2px solid #5896c0;
    color: #ffffff;
    box-shadow: none !important;
}

.demo .btn-create.btn-non-click {
    background: #c0c0c0 !important;
    border: 2px solid #c0c0c0 !important;
    border-radius: 10px !important;
    pointer-events: none;
}

.demo .btn-close {
    width: 111px;
    padding: 8px 16px;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #5896c0;
    transition: all 0.3s ease;
}

.demo .btn-close:hover {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
    color: #5896c0;
}

.demo .btn-close:focus {
    outline: none !important;
}

.demo .btn-close:active {
    background: #f5f5f5;
    border: 2px solid #ffffff;
    color: #5896c0;
    box-shadow: none !important;
}

.demo-create-fragment-window-fade {
    display: none;
}

.demo-create-fragment-window-fade::before {
    content: "";
    background: #dfdfdf;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 9999;
}

.open-fragment-window-fade.demo::before {
    background: rgba(250, 250, 250, 0.65) !important;
}

.demo .open-fragment-window {
    width: 541px !important;
    height: fit-content;
    padding: 16px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.demo .open-fragment-window-title {
    margin-bottom: 42px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
}

.demo .items-fragments {
    height: fit-content;
    max-height: 227px;
    margin-bottom: 42px;
}

.demo .items-fragments::-webkit-scrollbar {
    width: 4px !important;
    margin: 8px !important;
}

.demo .items-fragments::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-color: #c0c0c0 !important;
    margin: 8px !important;
}

.demo .items-fragments::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: transparent !important;
}

.demo .item-fragment {
    padding: 8px;
    border-radius: 8px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #323232;
    transition: all 0.2s ease;
}

.demo .item-fragment:hover {
    background: #f5f5f5;
}

.demo .select-item-fragment {
    background: #ebedff !important;
}

.demo .select-item-fragment:hover {
    background: #e6e7f2 !important;
}

.demo .btn-open {
    width: fit-content;
    padding: 8px 16px;
    background: #5896c0;
    border: 2px solid #5896c0;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.demo .btn-open:hover {
    background: #4980a5;
    border: 2px solid #4980a5;
    color: #ffffff;
}

.demo .btn-open:focus {
    outline: none !important;
}

.demo .btn-open:active {
    background: #4980a5;
    border: 2px solid #5896c0;
    color: #ffffff;
    box-shadow: none !important;
}

.demo .btn-open.btn-non-click {
    background: #c0c0c0 !important;
    border: 2px solid #c0c0c0 !important;
    border-radius: 10px !important;
    pointer-events: none;
}

.empty-fragments-window-fade {
    display: none;
    z-index: 9999;
}

.empty-fragments-window-fade::before {
    content: "";
    background: rgba(250, 250, 250, 0.65);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 9999;
}

.empty-fragments-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 60px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    z-index: 9999;
}

.empty-fragments-window-title {
    margin-bottom: 42px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
}

.empty-fragments-svg {
    margin-bottom: 16px;
}

.empty-fragments-window-text {
    margin-bottom: 42px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 108.19%;
    color: #737373;
}

.empty-fragment-btn-open {
    width: fit-content;
    padding: 8px 16px;
    background: #5896c0;
    border: 2px solid #5896c0;
    outline: none;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    transition: all 0.2s ease;
}

.empty-fragment-btn-open:hover {
    background: #4980a5;
    border: 2px solid #4980a5;
}

.empty-fragment-btn-open:active {
    border: 2px solid #5896c0;
}
