.SCgSvg {
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  min-height: 650px;
  height: calc(100vh - 150px);
}

.SCgText {
    fill: #00a;
    font-family: "Arial";
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    pointer-events: none;
    stroke: none;
}

.SCgNodeEmpty {
}

.SCgNode {
    fill: #eee;
    stroke: #000;
    stroke-width: 5px;
}

.SCgLink {
    fill: #eee;
    stroke: #000;
    stroke-width: 5px;
}

.SCgLinkContainer {
    display: block; 
    padding: 5px 0px 5px 5px;
    min-width: 25px;
    min-height: 25px;
    
}

/* --- Edges --- */
.SCgEdgeSelectBounds {
    stroke: none;
    stroke-width: 10px;
    fill: none;
}

.SCgEdge {
    fill: none;
    stroke-linejoin: round;
}

.SCgEdgeUnknown {
    stroke: #a00;
    stroke-width: 3px;
    fill: none;
}

.SCgEdgeCommonBack {
    stroke-width: 8px;
    fill: none;
}

.SCgEdgeCommonForeground {
    stroke-width: 5px;
    stroke: #fff;
    fill: none;
}

.SCgEdgeCommonForegroundVar {
    stroke-width: 5px;
    fill: none;
}

.SCgEdgeAccessComonDash {
    stroke-width: 4px;
    stroke-dasharray: 4, 4;
    fill: none;
}

.SCgEdgeAccessPerm {
    stroke-width: 2px;
    fill: none;
}

.SCgEdgeAccessTemp {
    stroke-width: 2px;
    stroke-dasharray: 2, 2;
    fill: none;
}

.SCgEdgeAccessTempVar {
    stroke-width: 2px;
    stroke-dasharray: 2, 2, 2, 2, 2, 2, 2, 14;
    fill: none;
}

.SCgEdgeEndArrowAccess {
    fill: none;
}

.SCgEdgeEndArrowCommon {
    fill: none;
}

.SCgEdgeVarDashAccessPerm {
    stroke-dasharray: 14, 14;
}

.SCgEdgeVarDashCommon {
    stroke-dasharray: 14, 14;
}

.SCgEdgePermNegDash {
    stroke-dasharray: 0, 20, 2, 6;
    stroke-width: 10px;
}

/* TODO */
.SCgEdgeFuzDash {
    stroke-dasharray: 0, 20, 2, 6;
    stroke-width: 10px;
}

/* --------- */
.SCgEdgePermDash {
    stroke-dasharray: 4, 10;
}

/* --- contours --- */
.SCgContour {
    fill: #ddddff;
    stroke: black;
    stroke-width: 2px;
    stroke-linejoin: round;
    opacity: 0.9;
}

.SCgRemovePoint {
    stroke: #FBF4F2;
    stroke-width: 3px;
    fill: #D60011;
}

.SCgAcceptPoint {
    stroke: #FBF4F2;
    stroke-width: 3px;
    fill: #33BB33;
}

.SCgAcceptPointHighlighted {
    stroke: #FcF5F3;
    stroke-width: 3px;
    fill: #44cc44;
}

.SCgRemovePointHighlighted {
    fill: #FF3300;
    stroke: #FFBE52;
}

.SCgLinePoint {
    stroke: #FBF4F2;
    stroke-width: 4px;
    fill: #D60011;
}

.SCgLinePointHighlighted {
    fill: #FF3300;
    stroke: #FFBE52;
    cursor: move;
}

path.dragline {
    stroke: #535A69;
    stroke-dasharray: 2,2;
    stroke-width: 2px;
    fill:   none;
}

path.draglineBus {
    stroke: blue;
    stroke-dasharray: 25,10,10,10;
    stroke-width: 5px;
    fill:   none;
}

path.SCgEdge.hidden {
    stroke-width: 0;
}

path.SCgBus {
    fill:   none;
    stroke: black;
    stroke-dasharray: none;
    stroke-width: 5px;
}

path.SCgBusPath {
    fill:   none;
    stroke-width: 5px;
}

/* ----- States ----- */
.SCgElement {
    cursor: pointer;
}

.SCgStateNormal {
    stroke: #777;
}

.SCgStateNormal.SCgStateHighlighted {
    stroke: #BBB;
}

.SCgStateMergedWithMemory {
    stroke: #076EDD;
}

.SCgStateMergedWithMemory.SCgStateHighlighted {
    stroke: #7189A3;
}

.SCgStateNewInMemory {
    stroke: #5E7027;
}

.SCgStateNewInMemory.SCgStateHighlighted {
    stroke: #AEB893;
}

.SCgStateFromMemory {
    stroke: #000;
}

.SCgStateFromMemory.SCgStateHighlighted {
    stroke: #444;
}

.SCgStateSelected {
    stroke: #C73E00;
}

.SCgStateSelected.SCgStateHighlighted {
    stroke: #FD8E00;
}

/* ------------- User interface -------------- */
.scg-tools-panel {
    position: absolute;
}

.scg-tools-panel img {
    width: 32px;
}

#scg-set-content-input {
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#scg-set-content-buttons-group {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#scg-set-content-buttons-group button span {
    margin-right: 5px;
}

.scg-type-list {
    max-height: 400px;
    overflow-y: scroll;
}

.tt-dropdown-menu .tt-dataset-idtf {
    background-color: #f5f5f5;
    border: 1px solid #a3a3a3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 450px;
    max-height: 400px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion {
    display: inline-block;
    max-width: 450px !important;
    white-space: normal !important;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion p {
    margin: 5px 2px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion .tt-suggestion-icon {
    width: 16px;
    height: 16px;
    margin: auto 2px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestions {
    width: 100%;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion:nth-child(odd) {
    background-color: #e9e9e9;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion:hover {
    background-color: #428bca !important;
}
