.SCgSvg {
    background-color: #fff;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.SCgText {
    fill: #00a;
    font-family: "Arial";
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    pointer-events: none;
    stroke: none;
}

.SCgNodeEmpty {
}

.SCgNode {
    fill: #eee;
    stroke: #000;
    stroke-width: 2.5;
    opacity: 1;
}
.SCgNode.DBSCgFirstLevelView {
}
.SCgNode.DBSCgSecondLevelView {
}
.SCgNode.DBSCgThirdLevelView {
}
.SCgNode.DBSCgFourthLevelView {
}
.SCgNode.DBSCgFifthLevelView {
    opacity: 0.8;
}
.SCgNode.DBSCgSixthLevelView {
    opacity: 0.6;
}
.SCgNode.DBSCgSeventhLevelView {
    opacity: 0.4;
}

.SCgLink {
    fill: #eee;
    stroke: #000;
    stroke-width: 2.5;
    opacity: 1;
}
.SCgLink.Var {
    stroke-dasharray: 14, 14;
}
.SCgLink.DBSCgFirstLevelView {
}
.SCgLink.DBSCgSecondLevelView {
}
.SCgLink.DBSCgThirdLevelView {
}
.SCgLink.DBSCgFourthLevelView {
}
.SCgLink.DBSCgFifthLevelView {
    opacity: 0.8;
}
.SCgLink.DBSCgSixthLevelView {
    opacity: 0.6;
}
.SCgLink.DBSCgSeventhLevelView {
    opacity: 0.4;
}

.SCgLinkContainer {
    display: block;
    padding: 5px 0px 5px 5px;
    min-width: 25px;
    min-height: 25px;
}

/* --- Edges --- */
.SCgEdgeSelectBounds {
    stroke: none;
    stroke-width: 10px;
    fill: none;
}

.SCgEdge {
    fill: none;
    stroke-linejoin: round;
}

.SCgEdgeUnknown {
    stroke: #a00;
    stroke-width: 3px;
    fill: none;
}

.SCgEdgeCommonBack {
    stroke-width: 8px;
    fill: none;
}

.SCgEdgeCommonForeground {
    stroke-width: 5px;
    stroke: #fff;
    fill: none;
}
.SCgEdgeCommonForeground.DBSCgFirstLevelView {
    stroke-width: 5;
}
.SCgEdgeCommonForeground.DBSCgSecondLevelView {
    stroke-width: 4.5;
}
.SCgEdgeCommonForeground.DBSCgThirdLevelView {
    stroke-width: 4;
}
.SCgEdgeCommonForeground.DBSCgFourthLevelView {
    stroke-width: 3.5;
}
.SCgEdgeCommonForeground.DBSCgFifthLevelView {
    stroke-width: 3.5;
    opacity: 0.8;
}
.SCgEdgeCommonForeground.DBSCgSixthLevelView {
    stroke-width: 3.5;
    opacity: 0.6;
}
.SCgEdgeCommonForeground.DBSCgSeventhLevelView {
    stroke-width: 3;
    opacity: 0.4;
}

.SCgEdgeCommonForegroundVar {
    stroke-width: 5px;
    fill: none;
}

.SCgEdgeAccessCommonDash {
    stroke-width: 4px;
    stroke-dasharray: 4, 4;
    fill: none;
}

.SCgEdgeAccessPerm {
    stroke-width: 1.5;
    fill: none;
    opacity: 1;
}
.SCgEdgeAccessPerm.DBSCgFirstLevelView {
    stroke-width: 1.5;
}
.SCgEdgeAccessPerm.DBSCgSecondLevelView {
    stroke-width: 1.2;
}
.SCgEdgeAccessPerm.DBSCgThirdLevelView {
    stroke-width: 1;
}
.SCgEdgeAccessPerm.DBSCgFourthLevelView {
    stroke-width: 0.5;
}
.SCgEdgeAccessPerm.DBSCgFifthLevelView {
    stroke-width: 0.5;
    opacity: 0.8;
}
.SCgEdgeAccessPerm.DBSCgSixthLevelView {
    stroke-width: 0.5;
    opacity: 0.6;
}
.SCgEdgeAccessPerm.DBSCgSeventhLevelView {
    stroke-width: 0.5;
    opacity: 0.4;
}

.SCgEdgeAccessTemp {
    stroke-width: 1.5;
    stroke-dasharray: 2, 2;
    fill: none;
}
.SCgEdgeAccessTemp.DBSCgFirstLevelView {
    stroke-width: 1.5;
}
.SCgEdgeAccessTemp.DBSCgSecondLevelView {
    stroke-width: 1.2;
}
.SCgEdgeAccessTemp.DBSCgThirdLevelView {
    stroke-width: 1;
}
.SCgEdgeAccessTemp.DBSCgFourthLevelView {
    stroke-width: 0.5;
}
.SCgEdgeAccessTemp.DBSCgFifthLevelView {
    stroke-width: 0.5;
    opacity: 0.8;
}
.SCgEdgeAccessTemp.DBSCgSixthLevelView {
    stroke-width: 0.5;
    opacity: 0.6;
}
.SCgEdgeAccessTemp.DBSCgSeventhLevelView {
    stroke-width: 0.5;
    opacity: 0.4;
}

.SCgEdgeAccessTempVar {
    stroke-width: 1.5;
    stroke-dasharray: 2, 2, 2, 2, 2, 2, 2, 14;
    fill: none;
}
.SCgEdgeAccessTempVar.DBSCgFirstLevelView {
    stroke-width: 1.5;
}
.SCgEdgeAccessTempVar.DBSCgSecondLevelView {
    stroke-width: 1.2;
}
.SCgEdgeAccessTempVar.DBSCgThirdLevelView {
    stroke-width: 1;
}
.SCgEdgeAccessTempVar.DBSCgFourthLevelView {
    stroke-width: 0.5;
}
.SCgEdgeAccessTempVar.DBSCgFifthLevelView {
    stroke-width: 0.5;
    opacity: 0.8;
}
.SCgEdgeAccessTempVar.DBSCgSixthLevelView {
    stroke-width: 0.5;
    opacity: 0.6;
}
.SCgEdgeAccessTempVar.DBSCgSeventhLevelView {
    stroke-width: 0.5;
    opacity: 0.4;
}

.SCgEdgeEndArrowAccess {
    fill: none;
    stroke-width: 1.5;
}

.SCgEdgeEndArrowCommon {
    fill: none;
    stroke-width: 7.5;
}
.SCgEdgeEndArrowCommon.DBSCgFirstLevelView {
    stroke-width: 7.5;
}
.SCgEdgeEndArrowCommon.DBSCgSecondLevelView {
    stroke-width: 7.3;
}
.SCgEdgeEndArrowCommon.DBSCgThirdLevelView {
    stroke-width: 6.1;
}
.SCgEdgeEndArrowCommon.DBSCgFourthLevelView {
    stroke-width: 4.9;
}
.SCgEdgeEndArrowCommon.DBSCgFifthLevelView {
    stroke-width: 4.9;
    opacity: 0.8;
}
.SCgEdgeEndArrowCommon.DBSCgSixthLevelView {
    stroke-width: 4.9;
    opacity: 0.6;
}
.SCgEdgeEndArrowCommon.DBSCgSeventhLevelView {
    stroke-width: 4;
    opacity: 0.4;
}

.SCgEdgeVarDashAccessPerm {
    stroke-dasharray: 14, 14;
}

.SCgEdgeVarDashCommon {
    stroke-width: 8px;
    stroke-dasharray: 14, 14;
    fill: none;
}

.SCgEdgePermNegDash {
    stroke-dasharray: 0, 20, 2, 6;
    stroke-width: 10px;
}
.SCgEdgePermNegDash.DBSCgFirstLevelView {
    stroke-width: 10px;
}
.SCgEdgePermNegDash.DBSCgSecondLevelView {
    stroke-width: 9px;
}
.SCgEdgePermNegDash.DBSCgThirdLevelView {
    stroke-width: 8px;
}
.SCgEdgePermNegDash.DBSCgFourthLevelView {
    stroke-width: 7px;
}
.SCgEdgePermNegDash.DBSCgFifthLevelView {
    stroke-width: 6px;
    opacity: 0.8;
}
.SCgEdgePermNegDash.DBSCgSixthLevelView {
    stroke-width: 5px;
    opacity: 0.6;
}
.SCgEdgePermNegDash.DBSCgSeventhLevelView {
    stroke-width: 4px;
    opacity: 0.4;
}

/* TODO */
.SCgEdgeFuzDash {
    stroke-dasharray: 0, 20, 2, 6;
    stroke-width: 10px;
}

/* --------- */
.SCgEdgePermDash {
    stroke-dasharray: 4, 10;
}

/* --- contours --- */
.SCgContour {
    fill: #ddddff;
    stroke: black;
    stroke-width: 2px;
    stroke-linejoin: round;
    opacity: 0.9;
}

.SCgRemovePoint {
    stroke: #FBF4F2;
    stroke-width: 3px;
    fill: #D60011;
}

.SCgAcceptPoint {
    stroke: #FBF4F2;
    stroke-width: 3px;
    fill: #33BB33;
}

.SCgAcceptPointHighlighted {
    stroke: #FcF5F3;
    stroke-width: 3px;
    fill: #44cc44;
}

.SCgRemovePointHighlighted {
    fill: #FF3300;
    stroke: #FFBE52;
}

.SCgLinePoint {
    stroke: #FBF4F2;
    stroke-width: 4px;
    fill: #D60011;
}

.SCgLinePointHighlighted {
    fill: #FF3300;
    stroke: #FFBE52;
    cursor: move;
}

path.dragline {
    stroke: #535A69;
    stroke-dasharray: 2,2;
    stroke-width: 2px;
    fill:   none;
}

path.draglineBus {
    stroke: blue;
    stroke-dasharray: 25,10,10,10;
    stroke-width: 5px;
    fill:   none;
}

path.SCgEdge.hidden {
    stroke-width: 0;
}

path.SCgBus {
    fill:   none;
    stroke: black;
    stroke-dasharray: none;
    stroke-width: 5px;
}

path.SCgBusPath {
    fill:   none;
    stroke-width: 5px;
}

.SCgElement {
    cursor: pointer;
}

/* ----- Default SCg states ----- */
.SCgStateNormal {
    stroke: #777;
}

.SCgStateNormal.SCgStateHighlighted {
    stroke: #BBB;
}

.SCgStateMergedWithMemory {
    stroke: #000;
}

.SCgStateMergedWithMemory.DBSCgView {
    stroke: #1E90FF;
}

.SCgStateMergedWithMemory.SCgStateHighlighted {
    stroke: #7189A3;
}

.SCgStateNewInMemory {
    stroke: #5E7027;
}

.SCgStateNewInMemory.SCgStateHighlighted {
    stroke: #AEB893;
}

.SCgStateFromMemory {
    stroke: #000;
}

.SCgStateFromMemory.SCgStateHighlighted {
    stroke: #444;
}

.SCgStateSelected {
    stroke: #C73E00;
}

.SCgStateSelected.SCgStateHighlighted {
    stroke: #FD8E00;
}

/* ------------- User interface -------------- */
.scg-tools-panel {
    position: absolute;
}

.btn-group-vertical {
    max-width: 34px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 0px 8px 8px white;
  }
 
 @media screen and (max-height: 900px) {
    .scg-tools-panel {
       height: calc(100% - 20px);
       padding-top: 16px;
       padding-bottom: 16px;
       cursor: auto;
    }
    hr {
       display: none;
    }
    .icon-items{
       border-radius: 0px !important;
       margin-bottom: 0px;
    }
    .btn-group-vertical {
       flex-wrap: wrap;
       max-height: 100%;
    }
 }

.scg-tools-panel img {
    width: 24px;
}

#scg-set-content-input {
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#scg-set-content-buttons-group {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#scg-set-content-buttons-group button span {
    margin-right: 5px;
}

.scg-type-list {
    max-height: 400px;
    overflow-y: scroll;
}

.tt-dropdown-menu .tt-dataset-idtf {
    background-color: #f5f5f5;
    border: 1px solid #a3a3a3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 450px;
    max-height: 400px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion {
    display: inline-block;
    max-width: 450px !important;
    white-space: normal !important;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion p {
    margin: 5px 2px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion .tt-suggestion-icon {
    width: 16px;
    height: 16px;
    margin: auto 2px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestions {
    width: 100%;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion:nth-child(odd) {
    background-color: #e9e9e9;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion:hover {
    background-color: #428bca !important;
}

.delete-fragments-btn {
    width: 100%;
    padding: 4px 8px;
    background-color: #ffffff;
    border: none;
    outline: none;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #454545;
    transition: all 0.3s ease;
}

.delete-fragments-btn:hover {
    background-color: #f6f6f6;
}

.delete-fragments-btn:active {
    background-color: #ebedff;
}

.delete-fragments-btn:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.scg-tool-fragments-popover-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 0;
}

.delete-fragments-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.scg-close-btn-fragments-window {
    margin-top: 5px;
    margin-right: 8px;
}

.empty-delete-btn {
    display: none;
}

.disabled-delete-btn {
    color: #737373;
    background: #FAFAFA;
}

/* --------------- Demo for react sc-web ---------------*/

.demo-scg-tools-panel {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
    box-shadow: 0px 20px 20px 5px #ffffff;
}

.demo-btn-group {
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
}

.demo-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 36px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ffffff;
}

.demo-btn:hover {
    background: #f5f5f5;
}

.demo-btn:active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.btn.active.demo-btn {
    background: #e5e5e5 !important;
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.demo-btn:first-child {
    margin-right: 6px;
}

.demo-dividing-line {
    height: 35px;
    margin: 0 6px 0 6px;
    border: 1px solid #ccd7de;
}

.demo-scg-shadow {
    position: relative;
}

.demo-scg-shadow::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0px 0px 15px 25px #ffffff;
    pointer-events: none;
}

.demo-scg-popover-layout {
    background: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.demo-scg-popover-title {
    background-color: #ffffff;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #323232;
}

.popover-position {
    top: 50px !important;
    left: 0 !important;
}

.popover-position-change-type {
    top: 50px !important;
    left: 321px !important;
}

.popover-position-set-content {
    top: 50px !important;
    left: 226px !important;
}

.popover-position-change-idtf {
    top: 50px !important;
    left: 227px !important;
}

.demo-scg-popover-layout .tt-dropdown-menu {
    top: 46px !important;
}

.demo-scg-popover-layout .tt-dataset-idtf {
    max-width: 324px !important;
    min-width: 324px !important;
    max-height: 296px !important;
    background: #ffffff !important;
    border: none !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px !important;
    overflow-y: auto !important;
    overflow-x: auto;
}

.demo-scg-popover-layout .tt-dataset-idtf::-webkit-scrollbar {
    width: 4px !important;
    margin: 8px !important;
}

.demo-scg-popover-layout .tt-dataset-idtf::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-color: #c0c0c0 !important;
    margin: 8px !important;
}

.demo-scg-popover-layout .tt-dataset-idtf::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: transparent !important;
}

.demo-scg-popover-layout .tt-suggestion {
    background: #ffffff !important;
    border-bottom: 1px solid #f6f6f6 !important;
    padding: 8px 16px !important;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #454545;
}

.demo-scg-popover-layout
.tt-dropdown-menu
.tt-dataset-idtf
.tt-suggestion:hover {
    background-color: #f5f5f5 !important;
}

.demo-set-content-popover {
    width: 362px !important;
    height: fit-content !important;
}

.demo-set-content-popover-content {
    width: 362px;
    height: 470px;
}

.demo-set-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
}

.demo-scg-types-panel-nodes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    width: 216px;
}

.node-btn {
    width: 48px;
    height: 36px;
}

.edge-btn {
    width: 152px;
    height: 36px;
    padding: 6px 12px !important;
}

.popover-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.popover-btn:hover {
    background: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}

.popover-btn:active {
    background-color: #ebedff;
    outline: none !important;
    box-shadow: none !important;
    border-color: #ebebeb !important;
}

.popover-btn:focus {
    outline: none !important;
}

.popover-btn:focus-visible {
    outline: none !important;
}

.node-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.demo-scg-type-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    height: 300px;
    padding-right: 77px;
    overflow-y: scroll;
}

.demo-scg-type-list::-webkit-scrollbar {
    width: 4px !important;
    margin: 8px !important;
}

.demo-scg-type-list::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-color: #c0c0c0 !important;
    margin: 8px !important;
}

.demo-scg-type-list::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: transparent !important;
}

.demo-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.demo-text-align-center {
    text-align: center;
}

.demo-popover-width {
    max-width: 361px !important;
    height: fit-content;
}

.demo-input-group-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.demo-popover-save-btn {
    width: fit-content;
    padding: 8px 16px;
    background: #5896c0;
    border: 2px solid #5896c0;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.demo-popover-save-btn:hover {
    background: #4980a5;
    border: 2px solid #4980a5;
    color: #ffffff;
}

.demo-popover-save-btn:focus {
    outline: none !important;
}
.demo-popover-save-btn:active {
    background: #4980a5;
    border: 2px solid #5896c0;
    color: #ffffff;
    box-shadow: none !important;
}

.demo-popover-input {
    background: #ffffff;
    border: 2px solid #ebebeb !important;
    border-radius: 10px !important;
    padding: 8px 16px !important;
    margin: 0 !important;
}

.demo-popover-textarea {
    height: 250px !important;
}

.demo-popover-input:hover,
.demo-popover-input:active,
.demo-popover-input:focus {
    border: 2px solid #7ec0ee !important;
}

.demo-popover-input::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #737373;
}

.demo-popover-dropdown {
    background: #ffffff !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px !important;
}

.demo-popover-cancel-btn {
    width: fit-content;
    padding: 8px 16px;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #5896c0;
    transition: all 0.3s ease;
}

.demo-popover-cancel-btn:hover {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
    color: #5896c0;
}

.demo-popover-cancel-btn:focus {
    outline: none !important;
}

.demo-popover-cancel-btn:active {
    background: #f5f5f5;
    border: 2px solid #ffffff;
    color: #5896c0;
    box-shadow: none !important;
}

.demo-select-wrapper {
    z-index: 901;
}

.demo-select-wrapper select {
    display: none;
}

.demo-select {
    position: relative;
    appearance: none;
    width: 238px !important;
    height: 43px !important;
    border: none !important;
    outline: none !important;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #323232;
    cursor: pointer;
    transition: all 0.3s ease;
}

.demo-select::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 17px;
    z-index: 9999;
    width: 9px;
    height: 9px;
    border: 1px solid grey;
    border-top: transparent;
    border-right: transparent;
    transform: rotate(-45deg);
    pointer-events: none;
}

.demo-select-value {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    margin-bottom: 2px;
    padding: 8px 16px;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #323232;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.demo-select-value:hover {
    background: #f5f5f5 !important;
}

.demo-options {
    display: none;
    height: 234px;
    margin: 0 !important;
    padding: 0 !important;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.demo-select.opened .demo-select-value {
    background: #f5f5f5 !important;
}

.demo-select.opened .demo-options {
    display: block;
}

.demo-select.opened::before {
    transform: rotate(-225deg);
    top: 22px;
}

.demo-option {
    padding: 8px 16px !important;
    background: #ffffff !important;
    list-style-type: none;
    cursor: pointer !important;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #454545;
}

.demo-option:hover {
    background: #f6f6f6 !important;
}

.demo-selected-option {
    background: #ebedff !important;
}

.demo-selected-option:hover {
    background: #e6e7f2 !important;
}

.demo-file-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    margin: 0 !important;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #737373;
    cursor: pointer;
}

.demo-file-input input {
    display: none;
}

.demo-file-input-btn {
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.demo-file-input-btn:hover {
    background: #f5f5f5;
}

.demo-file-input-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.demo-input-label {
    margin-left: 16px;
    margin-bottom: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #737373;
}

.demo .btn-create {
    width: fit-content;
    padding: 8px 16px;
    background: #5896c0;
    border: 2px solid #5896c0;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.demo .btn-create:hover {
    background: #4980a5;
    border: 2px solid #4980a5;
    color: #ffffff;
}

.demo .btn-create:focus {
    outline: none !important;
}

.demo .btn-create:active {
    background: #4980a5;
    border: 2px solid #5896c0;
    color: #ffffff;
    box-shadow: none !important;
}

.demo .btn-create.btn-non-click {
    background: #c0c0c0 !important;
    border: 2px solid #c0c0c0 !important;
    border-radius: 10px !important;
    pointer-events: none;
}

.demo .btn-close {
    width: 111px;
    padding: 8px 16px;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #5896c0;
    transition: all 0.3s ease;
}

.demo .btn-close:hover {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
    color: #5896c0;
}

.demo .btn-close:focus {
    outline: none !important;
}

.demo .btn-close:active {
    background: #f5f5f5;
    border: 2px solid #ffffff;
    color: #5896c0;
    box-shadow: none !important;
}

.demo .btn-open {
    width: fit-content;
    padding: 8px 16px;
    background: #5896c0;
    border: 2px solid #5896c0;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.demo .btn-open:hover {
    background: #4980a5;
    border: 2px solid #4980a5;
    color: #ffffff;
}

.demo .btn-open:focus {
    outline: none !important;
}

.demo .btn-open:active {
    background: #4980a5;
    border: 2px solid #5896c0;
    color: #ffffff;
    box-shadow: none !important;
}

.demo .btn-open.btn-non-click {
    background: #c0c0c0 !important;
    border: 2px solid #c0c0c0 !important;
    border-radius: 10px !important;
    pointer-events: none;
}
