<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    {% block extrameta %}{% endblock extrameta %}
	<title>{% block title %}OSTIS{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap-multilevel.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sc_web/css/common.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sc_web/css/scg.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sc_web/css/scs.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sc_web/css/scn.css" />
    {% block extrastyles %}{% endblock extrastyles %}

	{% include 'sc_web/base_pluginscripts.html' %}
    {% block extrapluginscripts %}{% endblock extrapluginscripts %}

    {% include 'sc_web/base_scripts.html' %}
    {% block extrascripts %}{% endblock extrascripts %}

	{% block head %}{% endblock %}
</head>

{% block body %}
<body id="home">

	<!-- header -->
	<!--<div class="page-header">
		<h1>IMS<small>OSTIS</small></h1>
    </div>-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="#">OSTIS</a>
            <!-- Help button -->
            <div id="help_button" class="help_button navbar-form pull-left">
                <img src="{{ STATIC_URL }}sc_web/images/help-red.png" class="help_button_hovered"/>
            </div>

			<div id="menu_container">
				<!-- there will be placed menu items -->
			</div>
            <div id="task_panel" class="task_icon navbar-form pull-right">
                <div id="task_num" class="task_text">16</div>
            </div>

            <div class="auth_panel navbar-form pull-right">
                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li><a href="{% url accounts:logout %}">Logout</a></li>
                    {% else %}
                        <li><a href="#js-accounts-login-modal" data-toggle="modal">Login</a></li>
                        <!-- <li><a href="{% url accounts:registration %}">Register</a></li> -->
                    {% endif %}
                </ul>
            </div>

			<div class="language_selectors navbar-form pull-right">
                <button id="btn_add_new_window" class="btn btn-inverse"><i class="icon-plus-sign icon-white"></i></button>
				<select class="combobox" id="select_output_language">
					<!-- Options will be inserted on start -->
				</select>
				<select class="combobox" id="select_idtf_language">
					<!-- Options will be inserted on start -->
				</select>
			</div>

		</div>
	</div>

    <!-- main content -->
	<div id="main_container">
		<ul id="tabs_container" class="nav nav-tabs">
            <!-- Tabs will be added later -->
		</ul>
        <div id="tabs_data_container" class="well well-small">
            <!-- Containers will be added automaticaly -->
        </div>
		{% block content %}{% endblock %}
    </div>

    <div id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div id="arguments_container" class="well well-small">
                <div id="arguments_buttons" class="btn-group">
                    <!-- Buttons will be inserted on arguments append -->
                </div>

                <button id="arguments_clear_button" class="close">Clear</button>
            </div>
            Copyright © 2012 <a href="#">OSTIS</a>
        </div>
    </div>


    <!-- Modal -->
    <div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Help" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
        </div>
    </div>

    {% if not user.is_authenticated %}
        {% include 'accounts/_scripts.html' %}
    {% endif %}

    <script type="text/javascript">

        $(document).ready(function() {
            SCWeb.core.ui.Locker.show();
            SCWeb.core.Main.init(function() {
                SCWeb.core.Server.resolveScAddr(['project_ostis', 'hypermedia_format_scn_json', 'ui_menu_view_full_semantic_neighborhood'], function(addrs) {
                    var outputAddr = addrs['hypermedia_format_scn_json'];
                    var argumentAddr = addrs['project_ostis'];
                    var cmdAddr = addrs['ui_menu_view_full_semantic_neighborhood'];
                    var window = SCWeb.core.ui.Windows.createWindow(outputAddr);
                    SCWeb.core.Server.doCommand(cmdAddr, outputAddr, [argumentAddr], function(data){
                        var eventData = {};
                        eventData.container = window;
                        eventData.newData = data;
                        SCWeb.core.Environment.fire(SCWeb.core.events.Data.NEW, eventData);
                        SCWeb.core.ui.Locker.hide();
                    });
                });
            });
        });

        $('#help_button').click(function() {
            $('#helpModal').modal({"keyboard": true, "remote": "{{ STATIC_URL }}sc_web/html/help.html"});
        });
    </script>

</script>

{% include 'sc_web/base_google_analitycs.html' %}

</body>
{% endblock body %}

</html>
