<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}sc_web/js/scs/scs.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}sc_web/js/scg/scg.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}sc_web/js/scn/scn.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}sc_web/js/txt/txt.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}sc_web/js/image/image.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}sc_web/js/html/html.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}sc_web/js/youtube/youtubelink.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}sc_web/js/map/googlemaplink.js"></script>
