<table>
    <tr>
        <td>
            <button id="scg-type-node" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node.png"/>
            </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-node-const" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-node-const-group" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-group.png"/>
            </button>
        </td>
        
        <td>
            <button id="scg-type-node-const-abstract" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-abstract.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-node-const-material" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-material.png"/>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-node-const-norole" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-norole.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-node-const-role" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-role.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-node-const-struct" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-struct.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-node-const-tuple" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-const-tuple.png"/>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-node-var" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-node-var-group" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-group.png"/>
            </button>
        </td>
        
        <td>
            <button id="scg-type-node-var-abstract" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-abstract.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-node-var-material" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-material.png"/>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-node-var-norole" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-norole.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-node-var-role" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-role.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-node-var-struct" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-struct.png"/>
            </button>
        </td>
        <td>
            <button id="scg-type-node-var-tuple" type="button" class="btn btn-default">
                <img src="static/components/images/scg/alphabet/scg-node-var-tuple.png"/>
            </button>
        </td>
    </tr>
</table>
