<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SCg-editor</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		
		<style>
			html, body {
				margin: 0px;
				overflow: hidden;
				font-family:Monospace;
				font-size:13px;
				text-align:center;
				font-weight: bold;
				text-align:center;
				height: 100%;
				width: 100%;
			}

			#info {
				color:#000;
				position: absolute;
				top: 0px; width: 100%;
				padding: 5px;
				z-index:100;
			}
			
			.scg-viewer {	
				border-color: #ddd;
				border-style: solid;
				border-width: 1px;
				height: 100%;
				width: 100%;
				padding: 5px;
				overflow: auto;
			}
		</style>
		
		<link rel="stylesheet" type="text/css" href="../../client/static/common/bootstrap/css/bootstrap.min.css" />
    	<link rel="stylesheet" type="text/css" href="../../client/static/common/bootstrap/css/bootstrap-multilevel.css" />
    	<link rel="stylesheet" type="text/css" href="../../client/static/common/highlight/googlecode.css" />
		<link rel="stylesheet" type="text/css" href="../../client/static/common/context/context.standalone.css" />

		<link rel="stylesheet" type="text/css" href="static/components/css/scg.css" />

		<!--<link rel="stylesheet" type="text/css" href="../../client/static/components/css/common.css" />-->
		<!--<link rel="stylesheet" type="text/css" href="../../client/static/components/css/scs.css" />-->
		<!--<link rel="stylesheet" type="text/css" href="../../client/static/components/css/html.css" />-->
		<!--<link rel="stylesheet" type="text/css" href="../../client/static/components/css/github.css" />-->
	</head>

	<body>
		<script type="text/javascript" charset="utf-8" src="../../client/static/common/jquery/jquery-2.1.3.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../client/static/common/jquery/jquery.namespace.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../client/static/common/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../client/static/common/typeahead/typeahead.bundle.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../client/static/common/context/context.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../client/static/common/kinetic/kinetic-v4.0.1.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../client/static/common/d3/d3.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../client/static/common/highlight/highlight.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../client/static/common/base64/base64.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../client/static/common/pdf/pdf.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../client/static/common/pdf/pdf.worker.js"></script>


		<script type="text/javascript">
			var SCWeb = {
				core: {
					ComponentManager: {
						appendComponentInitialize: function(SCgComponent){
								
						}
					}
				}
			};
		</script>

		<script type="text/javascript" charset="utf-8" src="../../client/js/Utils/sctp.js"></script>

		<!--<script type="text/javascript" charset="utf-8" src="../../client/static/components/js/sc-web-core.js"></script>-->
		<!--<script type="text/javascript" charset="utf-8" src="../../client/static/components/js/scs/scs.js"></script>-->
		<!--<script type="text/javascript" charset="utf-8" src="../../client/static/components/js/scg/scg.js"></script>-->

		<script type="text/javascript" src="src/gwf-file-creater.js"></script>
		<script type="text/javascript" src="src/gwf-file-loader.js"></script>
        <script type="text/javascript" src="src/gwf-model-objects.js"></script>
        <script type="text/javascript" src="src/gwf-object-info-reader.js"></script>
        <script type="text/javascript" src="src/scg-object-builder.js"></script>
        <script type="text/javascript" src="src/scg.js"></script>
        <script type="text/javascript" src="src/scg-debug.js"></script>
        <script type="text/javascript" src="src/scg-math.js"></script>
        <script type="text/javascript" src="src/scg-model-objects.js"></script>
        <script type="text/javascript" src="src/scg-alphabet.js"></script>
        <script type="text/javascript" src="src/scg-render.js"></script>
        <script type="text/javascript" src="src/scg-scene.js"></script>
        <script type="text/javascript" src="src/scg-layout.js"></script>
        <script type="text/javascript" src="src/scg-tree.js"></script>
        <script type="text/javascript" src="src/scg-struct.js"></script>
        <script type="text/javascript" src="src/scg-object-creator.js"></script>
        <script type="text/javascript" src="src/scg-component.js"></script>
        <script type="text/javascript" src="src/listener/scg-mode-bus.js"></script>
        <script type="text/javascript" src="src/listener/scg-mode-contour.js"></script>
        <script type="text/javascript" src="src/listener/scg-mode-edge.js"></script>
        <script type="text/javascript" src="src/listener/scg-mode-link.js"></script>
		<script type="text/javascript" src="src/listener/scg-mode-select.js"></script>
		<script type="text/javascript" src="src/command/append-object.js"></script>
        <script type="text/javascript" src="src/command/command-manager.js"></script>
        <script type="text/javascript" src="src/command/create-node.js"></script>
        <script type="text/javascript" src="src/command/create-edge.js"></script>
        <script type="text/javascript" src="src/command/create-bus.js"></script>
        <script type="text/javascript" src="src/command/create-contour.js"></script>
        <script type="text/javascript" src="src/command/create-link.js"></script>
        <script type="text/javascript" src="src/command/change-idtf.js"></script>
        <script type="text/javascript" src="src/command/change-content.js"></script>
        <script type="text/javascript" src="src/command/change-type.js"></script>
        <script type="text/javascript" src="src/command/delete-objects.js"></script>
        <script type="text/javascript" src="src/command/move-object.js"></script>
        <script type="text/javascript" src="src/command/move-line-point.js"></script>
        <script type="text/javascript" src="src/command/get-node-from-memory.js"></script>
        <script type="text/javascript" src="src/command/wrapper-command.js"></script>

		<!--<script type="text/javascript" charset="utf-8" src="../../client/static/components/js/image/image.js"></script>-->
		<!--<script type="text/javascript" charset="utf-8" src="../../client/static/components/js/txt/txt.js"></script>-->
		<!--<script type="text/javascript" charset="utf-8" src="../../client/static/components/js/html/html.js"></script>-->
		<!--<script type="text/javascript" charset="utf-8" src="../../client/static/components/js/youtube/youtubelink.js"></script>-->
		<!--<script type="text/javascript" charset="utf-8" src="../../client/static/components/js/map/googlemaplink.js"></script>-->
		<!--<script type="text/javascript" charset="utf-8" src="../../client/static/components/js/github/github.js"></script>-->
		<!--<script type="text/javascript" charset="utf-8" src="../../client/static/components/js/pdf/pdf.js"></script>-->
		<script type="text/javascript" charset="utf-8" src="../../client/static/components/js/file-saver/FileSaver.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
								
				var sandbox = {
            		container: "scg-viewer",
            		addr: 0,
            		is_struct: false,
            		format_addr: "format_scg_json",
            		createViewersForScLinks: function(v){
            		}
        		};

				var editor = new SCg.Editor();
				editor.init({
					sandbox: sandbox,
					containerId: "scg-viewer",
					canEdit: true,
				});

				$(window)
            		.on('keydown', function (d3_event) {
                		editor.keyboardCallbacks.onkeydown(d3_event);
            		})
            		.on('keyup', function (d3_event) {
                		editor.keyboardCallbacks.onkeyup(d3_event);
            		})
            		.on('keypress', function (d3_event) {
                		
            		});

				editor.render.update();
				editor.scene.layout();
			});
		</script>
		
		<div class="scg-viewer" id="scg-viewer"></div>
	</body>
</html>
