<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SCg-viewer test</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			html, body {
				background-color: #fff;
				margin: 0px;
				overflow: hidden;
				font-family:Monospace;
				font-size:13px;
				text-align:center;
				font-weight: bold;
				text-align:center;
				height: 100%;
			}

			#info {
				color:#000;
				position: absolute;
				top: 0px; width: 100%;
				padding: 5px;
				z-index:100;
			}
			
			.scg-viewer {
				background-color: #eee;
				
				border-color: #ddd;
				border-style: solid;
				border-width: 1px;
				height: 100%;
				width: 100%;
				overflow: auto;
			}

		</style>
		
		<link href="static/components/css/scg.css" rel="stylesheet">
		<link href="../external/css/bootstrap.css" rel="stylesheet">
	</head>
	<body>

		<script type="text/javascript" src="../external/js/d3.js"></script>
		<script type="text/javascript" src="../external/js/jquery/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../external/js/jquery/jquery.namespace.js"></script>
		<script type="text/javascript" src="../external/js/Constants.js"></script>
		<script type="text/javascript" src="../external/js/bootstrap.js"></script>
        <script type="text/javascript" src="../external/js/typeahead.bundle.min.js"></script>
		
		<script type="text/javascript" src="static/components/js/scg/scg.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				
				SCgDebug.enabled = true;
				
				var editor = new SCg.Editor();
				editor.init({containerId: "scg-viewer"});

				var node_types = [
					sc_type_node,
	 				sc_type_node | sc_type_const,
	 				sc_type_node | sc_type_const | sc_type_node_material,
	 				sc_type_node | sc_type_const | sc_type_node_abstract,
	 				sc_type_node | sc_type_const | sc_type_node_class,
	 				sc_type_node | sc_type_const | sc_type_node_struct,
	 				sc_type_node | sc_type_const | sc_type_node_norole,
	 				sc_type_node | sc_type_const | sc_type_node_role,
	 				sc_type_node | sc_type_const | sc_type_node_tuple,

	 				sc_type_node | sc_type_var,
	 				sc_type_node | sc_type_var | sc_type_node_material,
	 				sc_type_node | sc_type_var | sc_type_node_abstract,
	 				sc_type_node | sc_type_var | sc_type_node_class,
	 				sc_type_node | sc_type_var | sc_type_node_struct,
	 				sc_type_node | sc_type_var | sc_type_node_norole,
	 				sc_type_node | sc_type_var | sc_type_node_role,
	 				sc_type_node | sc_type_var | sc_type_node_tuple
				];

//				nodes = [];
//				for (var i = 0; i < node_types.length; i++)
//				{
//					var model_node = new SCg.ModelNode({
//						position: new SCg.Vector3(900 * Math.random(), 600 * Math.random(), 0), //1000 * Math.random() - 500),
//						scale: new SCg.Vector2(20, 20),
//						sc_type: node_types[i],
//						text: "Object_" + i.toString()
//					});
//					editor.scene.appendNode(model_node);
//					nodes.push(model_node);
//				}
				

				var edge_types = [
					sc_type_edge_common,
					sc_type_arc_common,
					sc_type_arc_access,
					sc_type_arc_pos_const_perm, 
					
					sc_type_edge_common | sc_type_const,
					sc_type_edge_common | sc_type_var,
					
					sc_type_arc_common | sc_type_const,
					sc_type_arc_common | sc_type_var,
					
					sc_type_arc_access | sc_type_var | sc_type_arc_pos | sc_type_arc_perm,
					
					sc_type_arc_access | sc_type_const | sc_type_arc_neg | sc_type_arc_perm,
					sc_type_arc_access | sc_type_var | sc_type_arc_neg | sc_type_arc_perm,
					sc_type_arc_access | sc_type_const | sc_type_arc_fuz | sc_type_arc_perm,
					sc_type_arc_access | sc_type_var | sc_type_arc_fuz | sc_type_arc_perm,
					
					sc_type_arc_access | sc_type_const | sc_type_arc_pos | sc_type_arc_temp,
					sc_type_arc_access | sc_type_var | sc_type_arc_pos | sc_type_arc_temp,
					sc_type_arc_access | sc_type_const | sc_type_arc_neg | sc_type_arc_temp,
					sc_type_arc_access | sc_type_var | sc_type_arc_neg | sc_type_arc_temp,
					sc_type_arc_access | sc_type_const | sc_type_arc_fuz | sc_type_arc_temp,
					sc_type_arc_access | sc_type_var | sc_type_arc_fuz | sc_type_arc_temp
				];
				
//				edges = []
//				for (var i = 0; i < edge_types.length; i++)
//				{
//					var n1 = 0;
//					var n2 = 0;
//					while (n1 === n2) {
//						n1 = Math.floor((Math.random() * nodes.length));
//						n2 = Math.floor((Math.random() * nodes.length));
//					}
//					var model_edge = new SCg.ModelEdge({
//						source: nodes[n1],
//						target: nodes[n2],
//						sc_type: edge_types[i]
//					});
//
//					editor.scene.appendEdge(model_edge);
//					edges.push(model_edge);
//				}
//
//				var contours = [];
//                var model_contour = new SCg.ModelContour({
//                    verticies: [
//                        new SCg.Vector3(300, 300, 0),
//                        new SCg.Vector3(700, 300, 0),
//                        new SCg.Vector3(700, 100, 0),
//                        new SCg.Vector3(300, 100, 0)
//                    ]
//                });
//                model_contour.addNodesWhichAreInContourPolygon(nodes);
//                editor.scene.appendContour(model_contour);
//                contours.push(model_contour);
				
//				var buses = [];
//				var model_bus = new SCg.ModelBus({ 
//													source: nodes[0] 
//												});
//
//				model_bus.setPoints([
//								{ x: 700, y: 400, idx: 0 },
//							{ x: 400, y: 400, idx: 1 }
//				]);
//
//				var pos = new SCg.Vector2(700, 400);
//				model_bus.setSourceDot(nodes[0].calculateDotPos(pos));
//				editor.scene.appendBus(model_bus);
//				buses.push(model_bus);
//
				editor.render.update();
				editor.scene.layout();
			});
		</script>
		
		<div class="scg-viewer" id="scg-viewer"></div>
	</body>
</html>
