.source-view-wrapper {
    margin: 0 auto;
    width: 920px;
    border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 #EEEEEE;
}


.tree-browser-wrapper {
    margin-bottom: 30px;
}

.bubble {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    padding: 3px;
}

.files-item-file {
    background:url(../images/icon_file.png) left center no-repeat;
    padding-left: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.files-item-dir {
    background:url(../images/icon_dir.png) left center no-repeat;
    padding-left: 20px;
    text-decoration: underline;
    cursor: pointer;
}

/* --- Edit --- */

.source-edit-wrapper {
    margin: 0 auto;
    width: 920px;
}

.CodeMirror {
    margin: 5px auto;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 900px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

.source-edit-wrapper .navbar-inner button {
    margin:10px auto;
}

.CodeMirror-selected { background: rgba(59, 59, 59, 0.15) !important; }

.source-edit-wrapper label {
    cursor:auto;
}

.source-edit-lock-info {
    margin-top: 15px;
    padding-left: 25px;
    position: relative;
}

#source-edit-lock-info-text {
    padding-left: 5px;
}


.tree-browser-last-commit {
    color: #777;
    padding: 10px 10px 10px 10px;
}

.tree-browser-filename-input {
    width: 300px !important;
}

.tree-browser-filename-input-invalid {
    background: #fdd !important;
}

.tree-browser-tools {
    margin-bottom: 10px;
}

.commit-autho-icon {
    padding-right: 5px;
}

.commit-author {
    color: #555;
    font-size: 14px;
}

.commit-date {
    color: #888;
    font-size: 14px;
}

.commit-summary {
    color: #888;
    font-size: 14px;
}
