.cm-comment {color: gray !important;}

.cm-elemType {color: #10cf47;}

.cm-connector {color: #d9ab37;}

.cm-name {color: #b31aa2;}

.cm-url {color: #6282b6;}

.cm-separator {color: black;}

.cm-aliasNoName {color: #cdd2a3;}

.cm-parenthes {color: #0804f7;}

.cm-content {color: #23f7b1;}

.cm-attribute {color: #488915 !important;}

.cm-error {
    color: red !important;
}
