<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    {% block extrameta %}{% endblock extrameta %}
	<title>{% block title %}OSTIS{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap-multilevel.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sc_web/css/common.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}repo/css/common.css" />
    
    {% block extrastyles %}{% endblock extrastyles %}

    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}plugins/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}plugins/jquery/jquery.namespace.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}plugins/bootstrap/js/bootstrap.min.js"></script>
    {% block extrapluginscripts %}{% endblock extrapluginscripts %}

    <script type="text/javascript" src="{{ STATIC_URL }}repo/js/locker.js"></script>
    {% block extrascripts %}{% endblock extrascripts %}

	{% block head %}{% endblock %}
</head>

{% block body %}
<body id="repoView">

	<!-- header -->
	<!--<div class="page-header">
		<h1>IMS<small>OSTIS</small></h1>
    </div>-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="#">OSTIS</a>
		</div>
	</div>

    <!-- main content -->
	<div id="main_container">
		{% block content %}{% endblock %}
    </div>

    <div id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            Copyright © 2012 <a href="#">OSTIS</a>
        </div>
    </div>

    <div id="uilocker" class="hidden"></div>

    {% if not user.is_authenticated %}
        {% include 'accounts/_scripts.html' %}
    {% endif %}

    {% include 'sc_web/base_google_analitycs.html' %}

</body>
{% endblock body %}

</html>
