{% extends "repo/base.html" %}

{% block extrascripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}repo/js/codemirror.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}repo/js/SCs.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}repo/js/edit.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}repo/css/codemirror.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}repo/css/SCs.css" />
    <script type="text/javascript">
        $(document).ready(function() {
            Repo.edit.Editor.init();
            Repo.edit.Form.init("{{ file_path }}");
        });
    </script>
{% endblock extrascripts %}

{% block content %}

    
        
    <div class="source-edit-wrapper">
        <h3>{{ file_path }}</h3>
        <div class="navbar-inner">
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn active">Code</button>
                <button type="button" class="btn">Preview</button>
            </div>
            <div class="btn-group pull-right editorSettings" data-toggle="buttons-checkbox">
                <button type="button" class="btn" name="lineWrapping">Line wrapping</button>
                <button type="button" class="btn active" name="lineNumbers">Line numbers</button>
            </div>
        </div>
        <textarea id="code"></textarea>
        <div class="navbar-inner">
	        <label>Commit summary:</label>
	        <input class="input-xxlarge" type="text" placeholder="Update {{ file_path }}">
	        <label>Extended description: (optional)</label>
	        <textarea rows="3" class="input-xxlarge"></textarea>
	        <div>
		        <button id="save" class="btn">Save</button>
		        <button id="cancel" class="btn btn-danger">Cancel</button>
	        </div>
        </div>
    </div>
    
{% endblock %}


