{% extends "repo/base.html" %}

{% block extrascripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}repo/js/codemirror.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}repo/js/SCs.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}repo/js/edit.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}repo/css/codemirror.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}repo/css/SCs.css" />
    <script type="text/javascript">
        $(document).ready(function() {
            Repo.edit.Form.init("{{ file_path }}");
        });
    </script>
{% endblock extrascripts %}

{% block content %}

    <div class="source-edit-wrapper">
        <h3>{{ file_path }}</h3>
        
        <div class="navbar-inner">
            <div class="btn-group pull-left" data-toggle="buttons-radio">
                <button type="button" class="btn active">Code</button>
                <button type="button" class="btn">Preview</button>
            </div>
            <div class="btn-group pull-right editorSettings" data-toggle="buttons-checkbox">
                <button type="button" class="btn" name="lineWrapping">Line wrapping</button>
                <button type="button" class="btn active" name="lineNumbers">Line numbers</button>
            </div>
        </div>
        
        {# container for editor #}
       <div id='edit-container'>
       </div>
        
        <div class="navbar-inner">
            <div class="btn-group pull-left">
                <button id="edit-lock-button" title="Lock source for edit" class="btn btn-inverse" data-locked-text="locked..."><i class="icon-lock icon-white" style="margin-right: 5px;"></i>Lock</button>
                <button id="edit-save-button" title="Save changes" class="btn btn-info"><i class="icon-hdd icon-white" style="margin-right: 5px;"></i>Save</button>
                <button id="edit-reset-button" title="Undo local changes" class="btn btn-danger"><i class="icon-refresh icon-white" style="margin-right: 5px;"></i>Reset</button>
            </div>
        </div>
        
        {# alerts #}
        <br/>
        <div id="info-panel-locked" class="alert alert-block hidden">
            
        </div>
        <div id="info-panel-not-saved" class="alert alert-info hidden">
            Changes not saved
        </div>
        <div id="info-panel-errors" class="alert alert-error hidden">
                File save error
        </div>
        <div id="info-panel-saved" class="alert alert-success hidden">
                File saved
        </div>
    </div>
    
    {# Save changes modal dialog #}
    <div id="edit-save-changes-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit-save-modal-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="edit-save-modal-label">Save changes</h3>
        </div>
        <div class="modal-body">
            <label>Commit summary (min 10 characters):</label>
            <textarea id="summary" rows="3" class="input-xxlarge"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="edit-modal-save-button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    
{% endblock %}


