{% extends "repo/base.html" %}

{% block extrascripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}repo/js/view.js"></script>
{% endblock extrascripts %}

{% block content %}

    <div class="source-view-wrapper">
        <ul class="breadcrumb" id="repo-path">
        </ul>
        
        <div class="tree-browser-wrapper bubble">
            <div class="tree-browser-last-commit" id="last-commit"></div>
            <table class="table table-hover" id="files-list-table">
                
            </table>
            
        </div>
    </div>
    
{% endblock %}


