html, body {
	margin-top: 30px;
   margin-bottom: 45px;
}

#sc-ui-locker {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    display: none;
​}

#sc-ui-locker.shown {
    display: block;
}

#sc-ui-locker-icon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #CCC url("../images/loading-cog.gif") no-repeat center center;
    opacity: 0.5;
    z-index: 1000;
}

#sc-ui-locker-text {
    font-size: 14px;
    color: #000;
    position:fixed;
    margin-top: 90px;
    margin-left: 23px;
}


.main-container {
    
}

.hidden {
    visibility:hidden;
}

.no_display {
    display: none;
}


.task_icon.active {
    background-image: url('../images/task-cog.gif');
}

.task_icon {
    width: 32px;
    height: 32px;
    margin-top: 12px;
    margin-left: 10px;
    text-align: center;

    background-image: url('../images/task-complete.png');
}

.task_text {
    margin-top: 10px;
    margin-left: -4px;
    vertical-align: middle;
    font-size: 10px;
    color:  #aaa;
}

.help_button {
    margin-top: 3px;
    vertical-align: middle;
    cursor: help;
}

.argument-container {
    min-height: 38px;
}

.argument-buttons {
    margin-top: 2px;
}

.main-container {
    height: 100%;
}

.tabs-data-container{
    height: 100%;
}

.sc_window_data {
    height: 100%;
}

.menu_item {
    cursor: pointer;
}

/* ---- auth ---- */
.auth-user-container {

}

.auth-user-image {
        border-width: 1px;
        border-style: solid;
        border-color: #222;
        background-color: #333;

        width: 32px;
        height: 32px;

        margin-top: -5px;
        margin-right: 5px;
}

.auth-user-image:hover {
        border-color: #444;
        background-color: #444;
}

.auth-user-login {
        margin-left: 5px;
}

/* --- history --- */
.history-item {
	cursor: pointer;
}

.history-item:hover {
	background: #ddd;
}

.history-item-name {
		margin-left: 10px;
}

.histoy-item-btn {
	margin-bottom: 10px;
}

