<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ title }}</title>
	<link href="/media/css/templatemo_style.css" rel="stylesheet" type="text/css" />


	<link rel="stylesheet" type="text/css" href="/media/css/bootstrap/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/bootstrap/bootstrap-multilevel.css" />

	<script type="text/javascript" src="media/js/jquery/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="media/js/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="media/js/scui.js"></script>
	
	
	{% block head %}{% endblock %}
</head>

<body id="home">

	<!-- header -->
	<!--<div class="page-header">
		<h1>IMS<small>OSTIS</small></h1>
    </div>-->
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">OSTIS</a>
			<div id="menu_container">
				<!-- there will be placed menu items -->				
			</div>
			<div class="language_selectors">
				<select class="combobox" id="select_output_language">
					<!-- Options will be inserted on start -->
				</select>
				<select class="combobox" id="select_idtf_language">
					<!-- Options will be inserted on start -->
				</select>
			</div>
		</div>
	</div>
	

	<!-- main content -->
	<div id="templatemo_main_top"></div>
		<div id="templatemo_main">
			{% block content %}{% endblock %}
			<div class="cleaner"></div>
		</div>

	</div> <!-- END of main -->


	<!-- footer -->
	<div id="templatemo_footer_wrapper">
		<div id="templatemo_footer">
	
		<div class="col col_14 no_margin_right">
		    <div class="cleaner h30"></div>
		    Copyright © 2012 <a href="#">OSTIS</a> Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
		</div>
		
	    <div class="cleaner"></div>
	    </div>
	</div> <!-- END of footer -->
	
	
	<!-- Initialize user interface -->
	<script type="text/javascript">
		var _scui = new scuiRoot();
        
        _scui._notifyCreated = function(){
        }
        _scui["_notifyUpdateMenu"] = function(){}
		_scui.init({});
		
		// load example extension
        function example_loaded(script, textStatus){
            alert(textStatus);
        }
        _scui.loadScript("media/js/example/example.js", example_loaded);
	</script> 
	
</body>

</html>
