<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ title }}</title>


	<link rel="stylesheet" type="text/css" href="/media/css/bootstrap/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/bootstrap/bootstrap-multilevel.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/common.css" />
    
    <link rel="stylesheet" href="media/css/scg.css" type="text/css"/>
    <link rel="stylesheet" href="media/css/scs.css" type="text/css"/>
    <link rel="stylesheet" href="media/css/scn.css" type="text/css"/>

	<script type="text/javascript" src="media/js/jquery/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="media/js/jquery/jquery.namespace.js"></script>
	<script type="text/javascript" src="media/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="media/js/sc-web-core.js"></script>
    <script src="media/js/scs/scs.js" type="text/javascript"></script>
    
    <script src="media/js/kinetic-v4.0.1.js" type="text/javascript"></script>
    <script src="media/js/scg/scg.js" type="text/javascript"></script>
    
    <script src="media/js/scn/scn.js" type="text/javascript"></script>
    <script src="media/js/txt/txt.js" type="text/javascript"></script>
    <script src="media/js/image/image.js" type="text/javascript"></script>
    <script src="media/js/html/html.js" type="text/javascript"></script>

	
	{% block head %}{% endblock %}
</head>

<body id="home">

	<!-- header -->
	<!--<div class="page-header">
		<h1>IMS<small>OSTIS</small></h1>
    </div>-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="#">OSTIS</a>
            <!-- Help button -->
            <div id="help_button" class="help_button navbar-form pull-left">
                <img src="/media/images/help-red.png" class="help_button_hovered"/>
            </div>
            
			<div id="menu_container">
				<!-- there will be placed menu items -->
			</div>
            <div id="task_panel" class="task_icon navbar-form pull-right">
                <div id="task_num" class="task_text">16</div>
            </div>
            
			<div class="language_selectors navbar-form pull-right">
                <button id="btn_add_new_window" class="btn btn-inverse"><i class="icon-plus-sign icon-white"></i></button>
				<select class="combobox" id="select_output_language">
					<!-- Options will be inserted on start -->
				</select>
				<select class="combobox" id="select_idtf_language">
					<!-- Options will be inserted on start -->
				</select>
			</div>
		</div>
	</div>

	<!-- main content -->
	<div id="main_container">
		<ul id="tabs_container" class="nav nav-tabs">
            <!-- Tabs will be added later -->
		</ul>
        <div id="tabs_data_container" class="well well-small">
            <!-- Containers will be added automaticaly -->
        </div>
		<!--{% block content %}{% endblock %}-->
    </div>
    
    <div id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div id="arguments_container" class="well well-small">
                <div id="arguments_buttons" class="btn-group">           
                    <!-- Buttons will be inserted on arguments append -->
                </div>
        
                <button id="arguments_clear_button" class="close">Clear</button>
            </div>
            Copyright © 2012 <a href="#">OSTIS</a> 
        </div>
    </div> 
    
    
    <!-- Modal -->
    <div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Help" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
        </div>
    </div>

    <script type="text/javascript">
        
        $(document).ready(function() {
            SCWeb.core.ui.Locker.show();
            SCWeb.core.Main.init(function() {
                SCWeb.core.Server.resolveScAddr(['project_ostis', 'hypermedia_format_scn_json', 'ui_menu_view_full_semantic_neighborhood'], function(addrs) {
                    var outputAddr = addrs['hypermedia_format_scn_json'];
                    var argumentAddr = addrs['project_ostis'];
                    var cmdAddr = addrs['ui_menu_view_full_semantic_neighborhood'];
                    var window = SCWeb.core.ui.Windows.createWindow(outputAddr);
                    SCWeb.core.Server.doCommand(cmdAddr, outputAddr, [argumentAddr], function(data){
                        SCWeb.core.ui.Windows.sendDataToWindow(window, data);
                        SCWeb.core.ui.Locker.hide();
                    });
                });
            });
        });
        
        $('#help_button').click(function() {
            $('#helpModal').modal({"keyboard": true, "remote": "/media/html/help.html"});
        });
    </script>

</body>

</html>
