{% extends "sc_web/base.html" %}

{% block title %}Statistics{% endblock %}

{% block extrastyles %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nav/css/datepicker.css" />
{% endblock extrastyles %}

{% block extrapluginscripts %}
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}plugins/bootstrap/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock extrapluginscripts %}

{% block extrascripts %}
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}nav/js/statistics.js"></script>
{% endblock extrascripts %}

{% block body %}
    <body id="stat">

		<div class="well" style="overflow: auto;">
		    <div class="pull-left">
		        From:
		        <input type="text" class="span2" style="margin: auto;" id="from" />
		        to:
		        <input type="text" class="span2" style="margin: auto;" id="to" />
		        <button type="button" class="btn " data-loading-text="Loading..." id="button_select_range">Get data</button>
		    </div>
		    <div class="pull-right">
		        Time scale:
		        <div class="btn-group" data-toggle="buttons-radio">
		            <button type="button" class="btn" id="hour">Hour</button>
		            <button type="button" class="btn" id="day">Day</button>
		            <button type="button" class="btn" id="week">Week</button>
		            <button type="button" class="btn" id="month">Month</button>
		            <button type="button" class="btn" id="year">Year</button>
		        </div>
		    </div>
		</div>
		
		<h4 id="stat_header" style="text-align: center;"></h4>
		
        <div id="memory_usage" style="width: 900px; height: 500px;"></div>
        <div id="elements_pie" style="width: 900px; height: 500px;"></div>
        <div id="server_usage" style="width: 900px; height: 500px;"></div>
    </body>
{% endblock %}
